Repository KnowageLabs/Knowage-Server, pull requests merged in 2021-09, with the labels that each got.

#225 Business model catalogue bugfix
  knowage-vue/src/modules/managers/businessModelCatalogue/BusinessModelCatalogue.d.ts
  knowage-vue/src/modules/managers/businessModelCatalogue/BusinessModelCatalogue.vue
  knowage-vue/src/modules/managers/businessModelCatalogue/BusinessModelCatalogueDetail.vue
  knowage-vue/src/modules/managers/businessModelCatalogue/cards/businessModelDetailsCard/BusinessModelDetailsCard.vue
  knowage-vue/src/modules/managers/businessModelCatalogue/cards/businessModelDriversCard/BusinessModelDriverDetail.vue
  knowage-vue/src/modules/managers/businessModelCatalogue/cards/businessModelDriversCard/BusinessModelDriversCard.vue
  knowage-vue/src/modules/managers/businessModelCatalogue/cards/businessModelVersionsCard/BusinessModelVersionsCard.vue
Labels: Porting Vue.js, Bugfix

#228 Tenants management bugfix
  knowage-vue/src/i18n/en_US.json
  knowage-vue/src/modules/managers/tenantManagement/TenantManagementTabView/TenantManagementTabView.vue
Labels: Porting Vue.js, Bugfix

#221 Constraints Management v1.0
  knowage-vue/src/i18n/en_US.json
  knowage-vue/src/modules/managers/constraintsManagment/ConstraintsManagment.d.ts
  knowage-vue/src/modules/managers/constraintsManagment/ConstraintsManagment.routes.js
  knowage-vue/src/modules/managers/constraintsManagment/ConstraintsManagment.spec.js
  knowage-vue/src/modules/managers/constraintsManagment/ConstraintsManagment.vue
  knowage-vue/src/modules/managers/constraintsManagment/ConstraintsManagmentDescriptor.json
  knowage-vue/src/modules/managers/constraintsManagment/ConstraintsManagmentDetail.spec.js
  knowage-vue/src/modules/managers/constraintsManagment/ConstraintsManagmentDetail.vue
  knowage-vue/src/modules/managers/constraintsManagment/ConstraintsManagmentDetailDescriptor.json
  knowage-vue/src/modules/managers/constraintsManagment/ConstraintsManagmentValidationDescriptor.json
  knowage-vue/src/modules/managers/managers.routes.js
Labels: javascript, Porting Vue.js

#226 Lovs management dev
  knowage-vue/package.json
  knowage-vue/src/i18n/en_US.json
  knowage-vue/src/main.ts
  knowage-vue/src/modules/managers/lovsManagement/LovesManagementHint.vue
  knowage-vue/src/modules/managers/lovsManagement/LovsManagement.d.ts
  knowage-vue/src/modules/managers/lovsManagement/LovsManagement.routes.js
  knowage-vue/src/modules/managers/lovsManagement/LovsManagement.spec.js
  knowage-vue/src/modules/managers/lovsManagement/LovsManagement.vue
  knowage-vue/src/modules/managers/lovsManagement/LovsManagementDescriptor.json
  knowage-vue/src/modules/managers/lovsManagement/LovsManagementDetail.spec.js
  knowage-vue/src/modules/managers/lovsManagement/LovsManagementDetail.vue
  knowage-vue/src/modules/managers/lovsManagement/cards/LovsManagementDetailCard/LovsManagementDetailCard.vue
  knowage-vue/src/modules/managers/lovsManagement/cards/LovsManagementDetailCard/LovsManagementDetailCardValidation.json
  knowage-vue/src/modules/managers/lovsManagement/cards/LovsManagementWizardCard/LovsManagementDataset/LovsManagementDataset.vue
  knowage-vue/src/modules/managers/lovsManagement/cards/LovsManagementWizardCard/LovsManagementDataset/LovsManagementDatasetDescriptor.json
  knowage-vue/src/modules/managers/lovsManagement/cards/LovsManagementWizardCard/LovsManagementFixedLovsTable/LovsManagementFixedLovsTable.spec.js
  knowage-vue/src/modules/managers/lovsManagement/cards/LovsManagementWizardCard/LovsManagementFixedLovsTable/LovsManagementFixedLovsTable.vue
  knowage-vue/src/modules/managers/lovsManagement/cards/LovsManagementWizardCard/LovsManagementFixedLovsTable/LovsManagementFixedLovsTableDescriptor.json
  knowage-vue/src/modules/managers/lovsManagement/cards/LovsManagementWizardCard/LovsManagementInfoDialog/LovsManagementInfoDialog.vue
  knowage-vue/src/modules/managers/lovsManagement/cards/LovsManagementWizardCard/LovsManagementInfoDialog/LovsManagementInfoDialogDescriptor.json
  knowage-vue/src/modules/managers/lovsManagement/cards/LovsManagementWizardCard/LovsManagementJavaClassInput/LovsManagementJavaClassInput.vue
  knowage-vue/src/modules/managers/lovsManagement/cards/LovsManagementWizardCard/LovsManagementParamsDialog/LovsManagementParamsDialog.vue
  knowage-vue/src/modules/managers/lovsManagement/cards/LovsManagementWizardCard/LovsManagementParamsDialog/LovsManagementParamsDialogDescriptor.json
  knowage-vue/src/modules/managers/lovsManagement/cards/LovsManagementWizardCard/LovsManagementPreviewDialog/LovsManagementPreviewDialog.spec.js
  knowage-vue/src/modules/managers/lovsManagement/cards/LovsManagementWizardCard/LovsManagementPreviewDialog/LovsManagementPreviewDialog.vue
  knowage-vue/src/modules/managers/lovsManagement/cards/LovsManagementWizardCard/LovsManagementPreviewDialog/LovsManagementPreviewDialogDescriptor.json
  knowage-vue/src/modules/managers/lovsManagement/cards/LovsManagementWizardCard/LovsManagementProfileAttributesList/LovsManagementProfileAttributesList.vue
  knowage-vue/src/modules/managers/lovsManagement/cards/LovsManagementWizardCard/LovsManagementProfileAttributesList/LovsManagementProfileAttributesListDescriptor.json
  knowage-vue/src/modules/managers/lovsManagement/cards/LovsManagementWizardCard/LovsManagementQuery/LovsManagementQuery.vue
  knowage-vue/src/modules/managers/lovsManagement/cards/LovsManagementWizardCard/LovsManagementScript/LovsManagementScript.vue
  knowage-vue/src/modules/managers/lovsManagement/cards/LovsManagementWizardCard/LovsManagementTestDialog/LovsManagementSimpleDatatable/LovsManagementSimpleDatatable.vue
  knowage-vue/src/modules/managers/lovsManagement/cards/LovsManagementWizardCard/LovsManagementTestDialog/LovsManagementSimpleDatatable/LovsManagementSimpleDatatableDescriptor.json
  knowage-vue/src/modules/managers/lovsManagement/cards/LovsManagementWizardCard/LovsManagementTestDialog/LovsManagementTestDialog.vue
  knowage-vue/src/modules/managers/lovsManagement/cards/LovsManagementWizardCard/LovsManagementTestDialog/LovsManagementTestDialogDescriptor.json
  knowage-vue/src/modules/managers/lovsManagement/cards/LovsManagementWizardCard/LovsManagementTestDialog/LovsManagementTree/LovsManagementTree.vue
  knowage-vue/src/modules/managers/lovsManagement/cards/LovsManagementWizardCard/LovsManagementTestDialog/LovsManagementTree/LovsManagementTreeDescriptor.json
  knowage-vue/src/modules/managers/lovsManagement/cards/LovsManagementWizardCard/LovsManagementWizardCard.vue
  knowage-vue/src/modules/managers/lovsManagement/cards/LovsManagementWizardCard/LovsManagementWizardCardDescriptor.json
  knowage-vue/src/modules/managers/managers.routes.js
Labels: javascript, Porting Vue.js

#233 Drivers management dev
  knowage-vue/src/App.routes.js
  knowage-vue/src/i18n/en_US.json
  knowage-vue/src/modules/documentExecution/documentExecution.routes.js
  knowage-vue/src/modules/managers/driversManagement/DriversDetailCard.vue
  knowage-vue/src/modules/managers/driversManagement/DriversManagement.d.ts
  knowage-vue/src/modules/managers/driversManagement/DriversManagement.routes.js
  knowage-vue/src/modules/managers/driversManagement/DriversManagement.spec.js
  knowage-vue/src/modules/managers/driversManagement/DriversManagement.vue
  knowage-vue/src/modules/managers/driversManagement/DriversManagementDescriptor.json
  knowage-vue/src/modules/managers/driversManagement/DriversManagementDetail.spec.js
  knowage-vue/src/modules/managers/driversManagement/DriversManagementDetail.vue
  knowage-vue/src/modules/managers/driversManagement/DriversManagementDetailDescriptor.json
  knowage-vue/src/modules/managers/driversManagement/DriversManagementValidationDescriptor.json
  knowage-vue/src/modules/managers/driversManagement/useModes/DriversManagementConstraintsCard.spec.js
  knowage-vue/src/modules/managers/driversManagement/useModes/DriversManagementConstraintsCard.vue
  knowage-vue/src/modules/managers/driversManagement/useModes/DriversManagementLovsDetail.vue
  knowage-vue/src/modules/managers/driversManagement/useModes/DriversManagementLovsDialog.vue
  knowage-vue/src/modules/managers/driversManagement/useModes/DriversManagementRolesCard.spec.js
  knowage-vue/src/modules/managers/driversManagement/useModes/DriversManagementRolesCard.vue
  knowage-vue/src/modules/managers/driversManagement/useModes/DriversManagementUseMode.spec.js
  knowage-vue/src/modules/managers/driversManagement/useModes/DriversManagementUseMode.vue
  knowage-vue/src/modules/managers/driversManagement/useModes/DriversManagementUseModeDetail.vue
  knowage-vue/src/modules/managers/driversManagement/useModes/DriversManagementUseModeDetailsCard.vue
  knowage-vue/src/modules/managers/driversManagement/useModes/UseModeValidationDescriptor.json
  knowage-vue/src/modules/managers/driversManagement/useModes/UseModesDescriptor.json
  knowage-vue/src/modules/managers/managers.routes.js
Labels: javascript, Porting Vue.js

#231 Glossary definition dev
  knowage-vue/src/i18n/en_US.json
  knowage-vue/src/modules/managers/glossaryDefinition/GlossaryDefinition.d.ts
  knowage-vue/src/modules/managers/glossaryDefinition/GlossaryDefinition.routes.js
  knowage-vue/src/modules/managers/glossaryDefinition/GlossaryDefinition.spec.js
  knowage-vue/src/modules/managers/glossaryDefinition/GlossaryDefinition.vue
  knowage-vue/src/modules/managers/glossaryDefinition/GlossaryDefinitionDescriptor.json
  knowage-vue/src/modules/managers/glossaryDefinition/GlossaryDefinitionDetail.vue
  knowage-vue/src/modules/managers/glossaryDefinition/GlossaryDefinitionHint.vue
  knowage-vue/src/modules/managers/glossaryDefinition/dialogs/GlossaryDefinitionDialogDescriptor.json
  knowage-vue/src/modules/managers/glossaryDefinition/dialogs/GlossaryDefinitionDialogValidationDescriptor.json
  knowage-vue/src/modules/managers/glossaryDefinition/dialogs/GlossaryDefinitionInfoDialog.vue
  knowage-vue/src/modules/managers/glossaryDefinition/dialogs/GlossaryDefinitionNodeDialog.vue
  knowage-vue/src/modules/managers/glossaryDefinition/dialogs/GlossaryDefinitionWordEdit.vue
  knowage-vue/src/modules/managers/glossaryDefinition/dialogs/tables/GlossaryDefinitionAttributesTable.vue
  knowage-vue/src/modules/managers/managers.routes.js
Labels: javascript, Porting Vue.js

#232 Glossary usage dev
  knowage-vue/src/i18n/en_US.json
  knowage-vue/src/modules/managers/glossaryUsage/GlossaryUsage.d.ts
  knowage-vue/src/modules/managers/glossaryUsage/GlossaryUsage.routes.js
  knowage-vue/src/modules/managers/glossaryUsage/GlossaryUsage.spec.js
  knowage-vue/src/modules/managers/glossaryUsage/GlossaryUsage.vue
  knowage-vue/src/modules/managers/glossaryUsage/GlossaryUsageDescriptor.json
  knowage-vue/src/modules/managers/glossaryUsage/GlossaryUsageDetail.spec.js
  knowage-vue/src/modules/managers/glossaryUsage/GlossaryUsageDetail.vue
  knowage-vue/src/modules/managers/glossaryUsage/GlossaryUsageHint.vue
  knowage-vue/src/modules/managers/glossaryUsage/GlossaryUsageInfoDialog.vue
  knowage-vue/src/modules/managers/glossaryUsage/GlossaryUsageInfoDialogWordsColumnList.vue
  knowage-vue/src/modules/managers/glossaryUsage/card/GlossaryUsageLinkCard.spec.js
  knowage-vue/src/modules/managers/glossaryUsage/card/GlossaryUsageLinkCard.vue
  knowage-vue/src/modules/managers/glossaryUsage/card/GlossaryUsageLinkCardDescriptor.json
  knowage-vue/src/modules/managers/glossaryUsage/card/GlossaryUsageLinkTree.vue
  knowage-vue/src/modules/managers/glossaryUsage/card/GlossaryUsageNavigationCard.spec.js
  knowage-vue/src/modules/managers/glossaryUsage/card/GlossaryUsageNavigationCard.vue
  knowage-vue/src/modules/managers/glossaryUsage/card/GlossaryUsageNavigationCardDescriptor.json
  knowage-vue/src/modules/managers/managers.routes.js
Labels: javascript, Porting Vue.js

#235 Constraints management bugfix
  knowage-vue/src/App.routes.js
  knowage-vue/src/modules/mainMenu/MainMenu.vue
  knowage-vue/src/modules/managers/constraintsManagement/ConstraintsManagementDetail.vue
  knowage-vue/src/modules/managers/constraintsManagement/ConstraintsManagementDetailDescriptor.json
  knowage-vue/src/modules/managers/constraintsManagement/ConstraintsManagementValidationDescriptor.json
Labels: Porting Vue.js, Bugfix

#241 5 in 1 Bugfix: KPI DEFINITION & LOVS MANAGEMENT
  knowage-vue/src/assets/scss/vendors/_codeMirror.scss
  knowage-vue/src/i18n/en_US.json
  knowage-vue/src/modules/kpi/kpiDefinition/KpiDefinition.vue
  knowage-vue/src/modules/kpi/kpiDefinition/detailView/KpiDefinitionDetail.vue
  knowage-vue/src/modules/kpi/kpiDefinition/detailView/KpiDefinitionDetailDescriptor.json
  knowage-vue/src/modules/kpi/kpiDefinition/detailView/KpiDefinitionFormulaTab/KpiDefinitionFormulaTab.vue
Labels: Porting Vue.js, Bugfix

#238 Users management bugfix
  knowage-vue/src/i18n/en_US.json
  knowage-vue/src/modules/managers/usersManagement/UsersManagement.vue
Labels: Porting Vue.js, Bugfix

#240 Kpi target bugfix
  knowage-vue/src/modules/kpi/targetDefinition/ApplyTargetCard.vue
  knowage-vue/src/modules/kpi/targetDefinition/TargetDefinitionDetail.vue
Labels: Porting Vue.js, Bugfix

#244 Glossary definition bugfix
  knowage-vue/src/modules/managers/glossaryDefinition/GlossaryDefinitionDetail.vue
Labels: Porting Vue.js, Bugfix

#246 Business model catalogue bugfix
  knowage-vue/src/modules/managers/businessModelCatalogue/BusinessModelCatalogueDetail.vue
  knowage-vue/src/modules/managers/businessModelCatalogue/cards/businessModelDriversCard/BusinessModelDriverDetail.vue
Labels: Porting Vue.js, Bugfix

#247 Kpi scheduler bugfix
  knowage-vue/src/modules/kpi/alertDefinition/AlertDefinitionDescriptor.json
  knowage-vue/src/modules/kpi/alertDefinition/AlertDefinitionDetail.vue
  knowage-vue/src/modules/kpi/cron/Cron.vue
  knowage-vue/src/modules/kpi/cron/CronDescriptor.json
  knowage-vue/src/modules/kpi/kpiCron/KpiCron.vue
  knowage-vue/src/modules/kpi/kpiCron/KpiCronDescriptor.json
Labels: Porting Vue.js, Bugfix

#239 Cross navigation management dev
  knowage-vue/src/components/UI/KnListBox/KnListBox.spec.js
  knowage-vue/src/components/UI/KnListBox/KnListBox.vue
  knowage-vue/src/components/UI/KnListBox/KnListButtonRenderer.vue
  knowage-vue/src/i18n/en_US.json
  knowage-vue/src/modules/managers/crossNavigationManagement/CrossNavigationManagement.d.ts
  knowage-vue/src/modules/managers/crossNavigationManagement/CrossNavigationManagement.routes.js
  knowage-vue/src/modules/managers/crossNavigationManagement/CrossNavigationManagement.spec.js
  knowage-vue/src/modules/managers/crossNavigationManagement/CrossNavigationManagement.vue
  knowage-vue/src/modules/managers/crossNavigationManagement/CrossNavigationManagementDescriptor.json
  knowage-vue/src/modules/managers/crossNavigationManagement/CrossNavigationManagementDetail.spec.js
  knowage-vue/src/modules/managers/crossNavigationManagement/CrossNavigationManagementDetail.vue
  knowage-vue/src/modules/managers/crossNavigationManagement/CrossNavigationManagementHint.vue
  knowage-vue/src/modules/managers/crossNavigationManagement/CrossNavigationManagementValidator.json
  knowage-vue/src/modules/managers/crossNavigationManagement/dialogs/CrossNavigationManagementDialogDescriptor.json
  knowage-vue/src/modules/managers/crossNavigationManagement/dialogs/CrossNavigationManagementDocDialog.vue
  knowage-vue/src/modules/managers/crossNavigationManagement/dialogs/CrossNavigationManagementDocParameters.spec.js
  knowage-vue/src/modules/managers/crossNavigationManagement/dialogs/CrossNavigationManagementDocParameters.vue
  knowage-vue/src/modules/managers/crossNavigationManagement/dialogs/CrossNavigationManagementHintDialog.vue
  knowage-vue/src/modules/managers/managers.routes.js
Labels: javascript, Porting Vue.js

#248 Glossary usage bugfix
  knowage-vue/src/modules/managers/glossaryUsage/GlossaryUsageInfoDialog.vue
  knowage-vue/src/modules/managers/glossaryUsage/GlossaryUsageInfoDialogWordsColumnList.vue
  knowage-vue/src/modules/managers/glossaryUsage/card/GlossaryUsageLinkCard.vue
Labels: Porting Vue.js, Bugfix

#252 KNOWAGE-6224 License Management Bugfix
  knowage-vue/src/modules/mainMenu/dialogs/LicenseDialog/LicenseTab.vue
Labels: javascript, Porting Vue.js, Bugfix

#253 KNOWAGE-2442 Alert Definition Bugfix
  knowage-vue/src/i18n/en_US.json
  knowage-vue/src/modules/kpi/alertDefinition/AlertDefinitionDetail.vue
  knowage-vue/src/modules/kpi/alertDefinition/actions/AlertDefinitionActionDialog.vue
  knowage-vue/src/modules/kpi/alertDefinition/cards/AlertDefinitionKpiCard.vue
Labels: javascript, Porting Vue.js, Bugfix

#251 Registry dev
  knowage-vue/public/data/demo_data.json
  knowage-vue/src/App.routes.js
  knowage-vue/src/components/UI/KnPivotTable/KnPivotTable.vue
  knowage-vue/src/components/UI/KnPivotTable/KnPivotTableDescriptor.json
  knowage-vue/src/components/UI/KnPivotTable/KnPivotTableEditableField.vue
  knowage-vue/src/helpers/commons/tableHelpers.ts
  knowage-vue/src/i18n/en_US.json
  knowage-vue/src/modules/documentExecution/documentExecution.routes.js
  knowage-vue/src/modules/documentExecution/registry/Registry.routes.js
  knowage-vue/src/modules/documentExecution/registry/Registry.spec.js
  knowage-vue/src/modules/documentExecution/registry/Registry.vue
  knowage-vue/src/modules/documentExecution/registry/RegistryDescriptor.json
  knowage-vue/src/modules/documentExecution/registry/RegistryFilterCard.spec.js
  knowage-vue/src/modules/documentExecution/registry/RegistryFilterCard.vue
  knowage-vue/src/modules/documentExecution/registry/RegistryFiltersCard.spec.js
  knowage-vue/src/modules/documentExecution/registry/RegistryFiltersCard.vue
  knowage-vue/src/modules/documentExecution/registry/tables/RegistryDatatable.spec.js
  knowage-vue/src/modules/documentExecution/registry/tables/RegistryDatatable.vue
  knowage-vue/src/modules/documentExecution/registry/tables/RegistryDatatableDescriptor.json
  knowage-vue/src/modules/documentExecution/registry/tables/RegistryDatatableEditableField.vue
  knowage-vue/src/modules/documentExecution/registry/tables/RegistryDatatableWarningDialog.vue
  knowage-vue/src/modules/documentExecution/registry/tables/RegistryDatatableWarningDialogDescriptor.json
  knowage-vue/src/modules/documentExecution/registry/tables/RegistryPivotDatatable.vue
  knowage-vue/vue.config.js
Labels: javascript, Porting Vue.js

#250 Dossier
  knowage-vue/.env
  knowage-vue/src/i18n/en_US.json
  knowage-vue/src/modules/documentExecution/documentExecution.routes.js
  knowage-vue/src/modules/documentExecution/dossier/Dossier.routes.js
  knowage-vue/src/modules/documentExecution/dossier/Dossier.spec.js
  knowage-vue/src/modules/documentExecution/dossier/Dossier.vue
  knowage-vue/src/modules/documentExecution/dossier/DossierDescriptor.json
  knowage-vue/vue.config.js
Labels: javascript, Porting Vue.js

#254 Bug fix
  knowage-vue/src/modules/managers/crossNavigationManagement/CrossNavigationManagementDetail.vue
Labels: javascript, Porting Vue.js, Bugfix

#255 Cron component dev
  knowage-vue/src/components/UI/KnCron/KnCron.vue
  knowage-vue/src/components/UI/KnCron/KnCronDescriptor.json
  knowage-vue/src/modules/kpi/alertDefinition/AlertDefinitionDetail.vue
  knowage-vue/src/modules/kpi/kpiScheduler/KpiSchedulerTabView.vue
Labels: javascript, Porting Vue.js
