Repository KnowageLabs/Knowage-Server, pull requests merged in 2021-08, with the labels that each got.

#211 Kpi Definition v1.1
  knowage-vue/src/assets/scss/main.scss
  knowage-vue/src/assets/scss/vendors/_codeMirror.scss
  knowage-vue/src/i18n/en_US.json
  knowage-vue/src/main.ts
  knowage-vue/src/modules/kpi/kpi.routes.js
  knowage-vue/src/modules/kpi/kpiDefinition/KpiDefinition.routes.js
  knowage-vue/src/modules/kpi/kpiDefinition/KpiDefinition.spec.js
  knowage-vue/src/modules/kpi/kpiDefinition/KpiDefinition.vue
  knowage-vue/src/modules/kpi/kpiDefinition/KpiDefinitionHint.vue
  knowage-vue/src/modules/kpi/kpiDefinition/detailView/KpiDefinitionCardinalityTab/KpiDefinitionCardinalityTab.vue
  knowage-vue/src/modules/kpi/kpiDefinition/detailView/KpiDefinitionDetail.vue
  knowage-vue/src/modules/kpi/kpiDefinition/detailView/KpiDefinitionDetailDescriptor.json
  knowage-vue/src/modules/kpi/kpiDefinition/detailView/KpiDefinitionFormulaTab/KpiDefinitionFormulaTab.vue
  knowage-vue/src/modules/kpi/kpiDefinition/detailView/KpiDefinitionThresholdTab/KpiDefinitionThresholdTab.vue
  knowage-vue/src/modules/kpi/kpiDefinition/detailView/KpiDefinitionThresholdTab/KpiDefinitionThresholdTabDescriptor.json
Labels: KPI Engine, Porting Vue.js, javascript

#219 KNOWAGE-6164 Roles Management Bugfix
  knowage-vue/src/modules/kpi/kpi.routes.js
  knowage-vue/src/modules/kpi/kpiCron/KpiCron.vue
  knowage-vue/src/modules/managers/rolesManagement/tabs/RoleAuthorizationsTab/RoleAuthorizationsTab.vue
Labels: javascript, Porting Vue.js, Bugfix

#217 Kpi scheduler dev
  knowage-vue/src/i18n/en_US.json
  knowage-vue/src/modules/kpi/kpi.routes.js
  knowage-vue/src/modules/kpi/kpiScheduler/KpiScheduler.d.ts
  knowage-vue/src/modules/kpi/kpiScheduler/KpiScheduler.routes.js
  knowage-vue/src/modules/kpi/kpiScheduler/KpiScheduler.spec.js
  knowage-vue/src/modules/kpi/kpiScheduler/KpiScheduler.vue
  knowage-vue/src/modules/kpi/kpiScheduler/KpiSchedulerDescriptor.json
  knowage-vue/src/modules/kpi/kpiScheduler/KpiSchedulerHint.vue
  knowage-vue/src/modules/kpi/kpiScheduler/KpiSchedulerSaveDialog.vue
  knowage-vue/src/modules/kpi/kpiScheduler/KpiSchedulerTabView.spec.js
  knowage-vue/src/modules/kpi/kpiScheduler/KpiSchedulerTabView.vue
  knowage-vue/src/modules/kpi/kpiScheduler/KpiSchedulerTabViewDescriptor.json
  knowage-vue/src/modules/kpi/kpiScheduler/card/KpiSchedulerExecuteCard/KpiSchedulerExecuteCard.spec.js
  knowage-vue/src/modules/kpi/kpiScheduler/card/KpiSchedulerExecuteCard/KpiSchedulerExecuteCard.vue
  knowage-vue/src/modules/kpi/kpiScheduler/card/KpiSchedulerExecuteCard/KpiSchedulerExecuteCardDescriptor.json
  knowage-vue/src/modules/kpi/kpiScheduler/card/KpiSchedulerFiltersCard/KpiSchedulerFilterDetailCard.vue
  knowage-vue/src/modules/kpi/kpiScheduler/card/KpiSchedulerFiltersCard/KpiSchedulerFilterDetailCardDescriptor.json
  knowage-vue/src/modules/kpi/kpiScheduler/card/KpiSchedulerFiltersCard/KpiSchedulerFiltersCard.vue
  knowage-vue/src/modules/kpi/kpiScheduler/card/KpiSchedulerKpiCard/KpiSchedulerKpiCard.spec.js
  knowage-vue/src/modules/kpi/kpiScheduler/card/KpiSchedulerKpiCard/KpiSchedulerKpiCard.vue
  knowage-vue/src/modules/kpi/kpiScheduler/card/KpiSchedulerKpiCard/KpiSchedulerKpiCardDescriptor.json
Labels: KPI Engine, javascript, Porting Vue.js

#220 Alert Definition v1.0
  knowage-vue/src/i18n/en_US.json
  knowage-vue/src/modules/kpi/alertDefinition/AlertDefinition.d.ts
  knowage-vue/src/modules/kpi/alertDefinition/AlertDefinition.routes.js
  knowage-vue/src/modules/kpi/alertDefinition/AlertDefinition.spec.js
  knowage-vue/src/modules/kpi/alertDefinition/AlertDefinition.vue
  knowage-vue/src/modules/kpi/alertDefinition/AlertDefinitionDescriptor.json
  knowage-vue/src/modules/kpi/alertDefinition/AlertDefinitionDetail.spec.js
  knowage-vue/src/modules/kpi/alertDefinition/AlertDefinitionDetail.vue
  knowage-vue/src/modules/kpi/alertDefinition/AlertDefinitionHint.vue
  knowage-vue/src/modules/kpi/alertDefinition/AlertDefinitionValidationDescriptor.json
  knowage-vue/src/modules/kpi/alertDefinition/actions/AddActionDIalog.spec.js
  knowage-vue/src/modules/kpi/alertDefinition/actions/AlertDefinitionActionDialog.vue
  knowage-vue/src/modules/kpi/alertDefinition/actions/AlertDefinitionActionDialogDescriptor.json
  knowage-vue/src/modules/kpi/alertDefinition/actions/AlertDefinitionContextBrokerCard.vue
  knowage-vue/src/modules/kpi/alertDefinition/actions/AlertDefinitionExectuteEtlCard.vue
  knowage-vue/src/modules/kpi/alertDefinition/actions/AlertDefinitionSendMailCard.vue
  knowage-vue/src/modules/kpi/alertDefinition/actions/AlertDefinitionSendMailCardDescriptor.json
  knowage-vue/src/modules/kpi/alertDefinition/cards/AlertDefinitionEventsCard.vue
  knowage-vue/src/modules/kpi/alertDefinition/cards/AlertDefinitionKpiCard.spec.js
  knowage-vue/src/modules/kpi/alertDefinition/cards/AlertDefinitionKpiCard.vue
  knowage-vue/src/modules/kpi/alertDefinition/cards/AlertDefinitionNameCard.vue
  knowage-vue/src/modules/kpi/kpi.routes.js
Labels: javascript, Porting Vue.js
