Repository KnowageLabs/Knowage-Server, pull requests merged in 2021-07, with the labels that each got.

#191 Cache management dev
  knowage-vue/src/i18n/en_US.json
  knowage-vue/src/modules/managers/cacheManagement/CacheManagement.d.ts
  knowage-vue/src/modules/managers/cacheManagement/CacheManagement.routes.js
  knowage-vue/src/modules/managers/cacheManagement/CacheManagement.spec.js
  knowage-vue/src/modules/managers/cacheManagement/CacheManagement.vue
  knowage-vue/src/modules/managers/cacheManagement/cards/DatasetTableCard/DatasetTableCard.spec.js
  knowage-vue/src/modules/managers/cacheManagement/cards/DatasetTableCard/DatasetTableCard.vue
  knowage-vue/src/modules/managers/cacheManagement/cards/DatasetTableCard/DatasetTableCardDescriptor.json
  knowage-vue/src/modules/managers/cacheManagement/cards/GeneralSettingsCard/GeneralSettingsCard.spec.js
  knowage-vue/src/modules/managers/cacheManagement/cards/GeneralSettingsCard/GeneralSettingsCard.vue
  knowage-vue/src/modules/managers/cacheManagement/cards/GeneralSettingsCard/GeneralSettingsCardDescriptor.json
  knowage-vue/src/modules/managers/cacheManagement/cards/RuntimeInformationCard/RuntimeInformationCard.spec.js
  knowage-vue/src/modules/managers/cacheManagement/cards/RuntimeInformationCard/RuntimeInformationCard.vue
  knowage-vue/src/modules/managers/managers.routes.js
Labels: Porting Vue.js, javascript

#188 News management dev
  knowage-vue/src/i18n/en_US.json
  knowage-vue/src/modules/managers/managers.routes.js
  knowage-vue/src/modules/managers/newsManagement/NewsManagement.d.ts
  knowage-vue/src/modules/managers/newsManagement/NewsManagement.routes.js
  knowage-vue/src/modules/managers/newsManagement/NewsManagement.spec.js
  knowage-vue/src/modules/managers/newsManagement/NewsManagement.vue
  knowage-vue/src/modules/managers/newsManagement/NewsManagementDescriptor.json
  knowage-vue/src/modules/managers/newsManagement/NewsManagementDetail.spec.js
  knowage-vue/src/modules/managers/newsManagement/NewsManagementDetail.vue
  knowage-vue/src/modules/managers/newsManagement/NewsManagementDetailDescriptor.json
  knowage-vue/src/modules/managers/newsManagement/NewsManagementHint.vue
  knowage-vue/src/modules/managers/newsManagement/cards/NewsDetailCard/NewsDetailCard.spec.js
  knowage-vue/src/modules/managers/newsManagement/cards/NewsDetailCard/NewsDetailCard.vue
  knowage-vue/src/modules/managers/newsManagement/cards/NewsDetailCard/NewsDetailCardDescriptor.json
  knowage-vue/src/modules/managers/newsManagement/cards/NewsDetailCard/NewsDetailValidationDescriptor.json
  knowage-vue/src/modules/managers/newsManagement/cards/RolesCard/RolesCard.spec.js
  knowage-vue/src/modules/managers/newsManagement/cards/RolesCard/RolesCard.vue
  knowage-vue/src/modules/managers/newsManagement/cards/RolesCard/RolesCardDescriptor.json
Labels: Porting Vue.js, javascript

#194 Tenants management dev
  knowage-vue/knowage-vue.code-workspace
  knowage-vue/src/i18n/en_US.json
  knowage-vue/src/modules/mainMenu/dialogs/InfoDialog.vue
  knowage-vue/src/modules/managers/managers.routes.js
  knowage-vue/src/modules/managers/metadataManagement/MetadataManagement.vue
  knowage-vue/src/modules/managers/tenantManagement/TenantManagement.d.ts
  knowage-vue/src/modules/managers/tenantManagement/TenantManagement.routes.js
  knowage-vue/src/modules/managers/tenantManagement/TenantManagement.spec.js
  knowage-vue/src/modules/managers/tenantManagement/TenantManagement.vue
  knowage-vue/src/modules/managers/tenantManagement/TenantManagementDescriptor.json
  knowage-vue/src/modules/managers/tenantManagement/TenantManagementTabView/DetailTab/TenantDetail.spec.js
  knowage-vue/src/modules/managers/tenantManagement/TenantManagementTabView/DetailTab/TenantDetail.vue
  knowage-vue/src/modules/managers/tenantManagement/TenantManagementTabView/DetailTab/TenantDetailValidationDescriptor.json
  knowage-vue/src/modules/managers/tenantManagement/TenantManagementTabView/SelectionTableTab/SelectionTable.spec.js
  knowage-vue/src/modules/managers/tenantManagement/TenantManagementTabView/SelectionTableTab/SelectionTable.vue
  knowage-vue/src/modules/managers/tenantManagement/TenantManagementTabView/TenantManagementTabView.vue
  knowage-vue/src/modules/managers/tenantManagement/TenantManagementTabView/TenantManagementTabViewDescriptor.json
Labels: Porting Vue.js, javascript

#195 Template pruning dev
  knowage-vue/src/i18n/en_US.json
  knowage-vue/src/modules/managers/managers.routes.js
  knowage-vue/src/modules/managers/templatePruning/TemplatePruning.d.ts
  knowage-vue/src/modules/managers/templatePruning/TemplatePruning.routes.js
  knowage-vue/src/modules/managers/templatePruning/TemplatePruning.spec.js
  knowage-vue/src/modules/managers/templatePruning/TemplatePruning.vue
  knowage-vue/src/modules/managers/templatePruning/TemplatePruningDescriptor.json
Labels: Porting Vue.js, javascript

#199 Internationalization Management v1.0
  knowage-vue/src/helpers/commons/regexHelper.ts
  knowage-vue/src/helpers/commons/validationHelper.ts
  knowage-vue/src/i18n/en_US.json
  knowage-vue/src/modules/managers/internationalizationManagement/InternationalizationManagement.d.ts
  knowage-vue/src/modules/managers/internationalizationManagement/InternationalizationManagement.routes.js
  knowage-vue/src/modules/managers/internationalizationManagement/InternationalizationManagement.spec.js
  knowage-vue/src/modules/managers/internationalizationManagement/InternationalizationManagement.vue
  knowage-vue/src/modules/managers/internationalizationManagement/InternationalizationManagementDescriptor.json
  knowage-vue/src/modules/managers/managers.routes.js
Labels: Porting Vue.js, javascript

#192 Mondrian Schemas Management v1.0
  knowage-vue/src/i18n/en_US.json
  knowage-vue/src/modules/managers/managers.routes.js
  knowage-vue/src/modules/managers/mondrianSchemasManagement/MondrianSchemas.d.ts
  knowage-vue/src/modules/managers/mondrianSchemasManagement/MondrianSchemasDetailTab/MondrianSchemasDetailDescriptor.json
  knowage-vue/src/modules/managers/mondrianSchemasManagement/MondrianSchemasDetailTab/MondrianSchemasDetailTab.spec.js
  knowage-vue/src/modules/managers/mondrianSchemasManagement/MondrianSchemasDetailTab/MondrianSchemasDetailTab.vue
  knowage-vue/src/modules/managers/mondrianSchemasManagement/MondrianSchemasManagement.routes.js
  knowage-vue/src/modules/managers/mondrianSchemasManagement/MondrianSchemasManagement.spec.js
  knowage-vue/src/modules/managers/mondrianSchemasManagement/MondrianSchemasManagement.vue
  knowage-vue/src/modules/managers/mondrianSchemasManagement/MondrianSchemasManagementDescriptor.json
  knowage-vue/src/modules/managers/mondrianSchemasManagement/MondrianSchemasManagementTabView.spec.js
  knowage-vue/src/modules/managers/mondrianSchemasManagement/MondrianSchemasManagementTabView.vue
  knowage-vue/src/modules/managers/mondrianSchemasManagement/MondrianSchemasTabViewDescriptor.json
  knowage-vue/src/modules/managers/mondrianSchemasManagement/MondrianSchemasWorkflowTab/MondrianSchemasWorkflowDescriptor.json
  knowage-vue/src/modules/managers/mondrianSchemasManagement/MondrianSchemasWorkflowTab/MondrianSchemasWorkflowTab.spec.js
  knowage-vue/src/modules/managers/mondrianSchemasManagement/MondrianSchemasWorkflowTab/MondrianSchemasWorkflowTab.vue
Labels: Porting Vue.js, javascript

#198 Data Source Management v1.0
  knowage-vue/src/i18n/en_US.json
  knowage-vue/src/modules/managers/dataSourceManagement/DataSourceAdvancedOptions/DataSourceAdvancedOptions.vue
  knowage-vue/src/modules/managers/dataSourceManagement/DataSourceDescriptor.json
  knowage-vue/src/modules/managers/dataSourceManagement/DataSourceManagement.routes.js
  knowage-vue/src/modules/managers/dataSourceManagement/DataSourceManagement.spec.js
  knowage-vue/src/modules/managers/dataSourceManagement/DataSourceManagement.vue
  knowage-vue/src/modules/managers/dataSourceManagement/DataSourceTabView/DataSourceDetail.vue
  knowage-vue/src/modules/managers/dataSourceManagement/DataSourceTabView/DataSourceDetailValidationDescriptor.json
  knowage-vue/src/modules/managers/managers.routes.js
Labels: Porting Vue.js, javascript

#201 Functionalities Management v1.0
  knowage-vue/public/data/demo_data.json
  knowage-vue/src/i18n/en_US.json
  knowage-vue/src/modules/managers/functionalitiesManagement/FunctionalitiesManagement.d.ts
  knowage-vue/src/modules/managers/functionalitiesManagement/FunctionalitiesManagement.routes.js
  knowage-vue/src/modules/managers/functionalitiesManagement/FunctionalitiesManagement.spec.js
  knowage-vue/src/modules/managers/functionalitiesManagement/FunctionalitiesManagement.vue
  knowage-vue/src/modules/managers/functionalitiesManagement/FunctionalitiesManagementDescriptor.json
  knowage-vue/src/modules/managers/functionalitiesManagement/detailTabView/FunctionalitiesManagementDetail.spec.js
  knowage-vue/src/modules/managers/functionalitiesManagement/detailTabView/FunctionalitiesManagementDetail.vue
  knowage-vue/src/modules/managers/functionalitiesManagement/detailTabView/FunctionalitiesManagementDetailDescriptor.json
  knowage-vue/src/modules/managers/functionalitiesManagement/detailTabView/FunctionalitiesManagementValidation.json
  knowage-vue/src/modules/managers/managers.routes.js
  knowage-vue/vue.config.js
Labels: Porting Vue.js, javascript

#202 Menu configuration management
  knowage-vue/src/components/UI/KnImageToBase64IconPicker.vue
  knowage-vue/src/helpers/commons/arrayToTreeHelper.ts
  knowage-vue/src/i18n/en_US.json
  knowage-vue/src/modules/managers/managers.routes.js
  knowage-vue/src/modules/managers/menuConfigurationManagement/DocumentBrowserTree/DocumentBrowserTree.spec.js
  knowage-vue/src/modules/managers/menuConfigurationManagement/DocumentBrowserTree/DocumentBrowserTree.vue
  knowage-vue/src/modules/managers/menuConfigurationManagement/ElementDetailsCard/MenuConfigurationValidationDescriptor.json
  knowage-vue/src/modules/managers/menuConfigurationManagement/ElementDetailsCard/MenuElementsDetail.vue
  knowage-vue/src/modules/managers/menuConfigurationManagement/IconPicker/IconPicker.vue
  knowage-vue/src/modules/managers/menuConfigurationManagement/IconPicker/icons.js
  knowage-vue/src/modules/managers/menuConfigurationManagement/MenuConfiguration.d.ts
  knowage-vue/src/modules/managers/menuConfigurationManagement/MenuConfiguration.spec.js
  knowage-vue/src/modules/managers/menuConfigurationManagement/MenuConfiguration.vue
  knowage-vue/src/modules/managers/menuConfigurationManagement/MenuConfigurationDescriptor.json
  knowage-vue/src/modules/managers/menuConfigurationManagement/MenuConfigurationManagement.routes.js
  knowage-vue/src/modules/managers/menuConfigurationManagement/MenuNodesTree/MenuNodesTree.spec.js
  knowage-vue/src/modules/managers/menuConfigurationManagement/MenuNodesTree/MenuNodesTree.vue
  knowage-vue/src/modules/managers/menuConfigurationManagement/RelatedDocumentsList/RelatedDocumentList.vue
  knowage-vue/src/modules/managers/menuConfigurationManagement/RelatedDocumentsList/RelatedDocumentsDescriptor.json
  knowage-vue/src/modules/managers/menuConfigurationManagement/RelatedDocumentsList/RelatedDocumentsList.spec.js
  knowage-vue/src/modules/managers/menuConfigurationManagement/RolesCard/RolesCard.vue
Labels: Porting Vue.js, javascript

#200 Business model catalogue dev
  knowage-vue/src/i18n/en_US.json
  knowage-vue/src/modules/managers/businessModelCatalogue/BusinessModelCatalogue.d.ts
  knowage-vue/src/modules/managers/businessModelCatalogue/BusinessModelCatalogue.routes.js
  knowage-vue/src/modules/managers/businessModelCatalogue/BusinessModelCatalogue.spec.js
  knowage-vue/src/modules/managers/businessModelCatalogue/BusinessModelCatalogue.vue
  knowage-vue/src/modules/managers/businessModelCatalogue/BusinessModelCatalogueDescriptor.json
  knowage-vue/src/modules/managers/businessModelCatalogue/BusinessModelCatalogueDetail.spec.js
  knowage-vue/src/modules/managers/businessModelCatalogue/BusinessModelCatalogueDetail.vue
  knowage-vue/src/modules/managers/businessModelCatalogue/cards/businessModelDetailsCard/BusinessModelDetailsCard.spec.js
  knowage-vue/src/modules/managers/businessModelCatalogue/cards/businessModelDetailsCard/BusinessModelDetailsCard.vue
  knowage-vue/src/modules/managers/businessModelCatalogue/cards/businessModelDetailsCard/BusinessModelDetailsCardDescriptor.json
  knowage-vue/src/modules/managers/businessModelCatalogue/cards/businessModelDetailsCard/BusinessModelDetailsCardValidation.json
  knowage-vue/src/modules/managers/businessModelCatalogue/cards/businessModelDetailsCard/GenerateDatamartCard.vue
  knowage-vue/src/modules/managers/businessModelCatalogue/cards/businessModelDetailsCard/GenerateDatamartCardDescriptor.json
  knowage-vue/src/modules/managers/businessModelCatalogue/cards/businessModelDriversCard/BusinessModelDriverDetail.spec.js
  knowage-vue/src/modules/managers/businessModelCatalogue/cards/businessModelDriversCard/BusinessModelDriverDetail.vue
  knowage-vue/src/modules/managers/businessModelCatalogue/cards/businessModelDriversCard/BusinessModelDriverDetailDescriptor.json
  knowage-vue/src/modules/managers/businessModelCatalogue/cards/businessModelDriversCard/BusinessModelDriverDetailValidationDescriptor.json
  knowage-vue/src/modules/managers/businessModelCatalogue/cards/businessModelDriversCard/BusinessModelDriversCard.spec.js
  knowage-vue/src/modules/managers/businessModelCatalogue/cards/businessModelDriversCard/BusinessModelDriversCard.vue
  knowage-vue/src/modules/managers/businessModelCatalogue/cards/businessModelVersionsCard/BusinessModelVersionsCard.spec.js
  knowage-vue/src/modules/managers/businessModelCatalogue/cards/businessModelVersionsCard/BusinessModelVersionsCard.vue
  knowage-vue/src/modules/managers/businessModelCatalogue/cards/metadataCard/MetadataCard.vue
  knowage-vue/src/modules/managers/managers.routes.js
Labels: Porting Vue.js, javascript

#208 Template pruning bugfix
  knowage-vue/src/App.routes.js
  knowage-vue/src/i18n/en_US.json
  knowage-vue/src/modules/kpi/cron/Cron.vue
  knowage-vue/src/modules/kpi/cron/CronDescriptor.json
  knowage-vue/src/modules/kpi/kpi.routes.js
  knowage-vue/src/modules/managers/templatePruning/TemplatePruning.d.ts
  knowage-vue/src/modules/managers/templatePruning/TemplatePruning.vue
Labels: Bugfix, Porting Vue.js, javascript

#204 Measure definition dev
  knowage-vue/src/i18n/en_US.json
  knowage-vue/src/main.ts
  knowage-vue/src/modules/kpi/kpi.routes.js
  knowage-vue/src/modules/kpi/measureDefinition/MeasureDefinition.d.ts
  knowage-vue/src/modules/kpi/measureDefinition/MeasureDefinition.routes.js
  knowage-vue/src/modules/kpi/measureDefinition/MeasureDefinition.spec.js
  knowage-vue/src/modules/kpi/measureDefinition/MeasureDefinition.vue
  knowage-vue/src/modules/kpi/measureDefinition/MeasureDefinitionDescriptor.json
  knowage-vue/src/modules/kpi/measureDefinition/MeasureDefinitionFilterList.spec.js
  knowage-vue/src/modules/kpi/measureDefinition/MeasureDefinitionFilterList.vue
  knowage-vue/src/modules/kpi/measureDefinition/MeasureDefinitionSubmitDialog.vue
  knowage-vue/src/modules/kpi/measureDefinition/MeasureDefinitionTabView.spec.js
  knowage-vue/src/modules/kpi/measureDefinition/MeasureDefinitionTabView.vue
  knowage-vue/src/modules/kpi/measureDefinition/MetadataDefinitionTabViewDescriptor.json
  knowage-vue/src/modules/kpi/measureDefinition/card/MeasureDefinitionMetadataCard/MeasureDefinitionMetadataCard.spec.js
  knowage-vue/src/modules/kpi/measureDefinition/card/MeasureDefinitionMetadataCard/MeasureDefinitionMetadataCard.vue
  knowage-vue/src/modules/kpi/measureDefinition/card/MeasureDefinitionMetadataCard/MeasureDefinitionMetadataCardDescriptor.json
  knowage-vue/src/modules/kpi/measureDefinition/card/MeasureDefinitionQueryCard/MeasureDefinitionPreviewDialog.spec.js
  knowage-vue/src/modules/kpi/measureDefinition/card/MeasureDefinitionQueryCard/MeasureDefinitionPreviewDialog.vue
  knowage-vue/src/modules/kpi/measureDefinition/card/MeasureDefinitionQueryCard/MeasureDefinitionPreviewDialogDescriptor.json
  knowage-vue/src/modules/kpi/measureDefinition/card/MeasureDefinitionQueryCard/MeasureDefinitionQueryCard.vue
  knowage-vue/src/modules/kpi/measureDefinition/card/MeasureDefinitionQueryCard/MeasureDefinitionQueryCardDescriptor.json
  knowage-vue/src/modules/managers/galleryManagement/GalleryManagementDescriptor.json
  knowage-vue/src/modules/managers/galleryManagement/GalleryManagementDetail.vue
Labels: KPI Engine, Porting Vue.js, javascript

#214 Users management bugfix
  knowage-vue/package.json
  knowage-vue/src/i18n/en_US.json
  knowage-vue/src/modules/kpi/kpi.routes.js
  knowage-vue/src/modules/managers/usersManagement/UserAttributesTab/UserAttributesForm.vue
  knowage-vue/src/modules/managers/usersManagement/UserAttributesTab/UserAttributesLovValueDialog.vue
  knowage-vue/src/modules/managers/usersManagement/UserAttributesTab/UserAttributesLovValueDialogDescriptor.json
  knowage-vue/src/modules/managers/usersManagement/UserDetailTab/DetailFormTab.vue
  knowage-vue/src/modules/managers/usersManagement/UserDetailTab/DetailFormTabValidationDescriptor.json
  knowage-vue/src/modules/managers/usersManagement/UserRolesTab/RolesTab.vue
  knowage-vue/src/modules/managers/usersManagement/UsersManagement.vue
Labels: Bugfix, Porting Vue.js, javascript

#206 Kpi target dev
  knowage-vue/src/i18n/en_US.json
  knowage-vue/src/modules/kpi/kpi.routes.js
  knowage-vue/src/modules/kpi/targetDefinition/AddKpiDialog.vue
  knowage-vue/src/modules/kpi/targetDefinition/ApplyTargetCard.vue
  knowage-vue/src/modules/kpi/targetDefinition/TargetDefinition.d.ts
  knowage-vue/src/modules/kpi/targetDefinition/TargetDefinition.routes.js
  knowage-vue/src/modules/kpi/targetDefinition/TargetDefinition.spec.js
  knowage-vue/src/modules/kpi/targetDefinition/TargetDefinition.vue
  knowage-vue/src/modules/kpi/targetDefinition/TargetDefinitionDescriptor.json
  knowage-vue/src/modules/kpi/targetDefinition/TargetDefinitionDetail.spec.js
  knowage-vue/src/modules/kpi/targetDefinition/TargetDefinitionDetail.vue
  knowage-vue/src/modules/kpi/targetDefinition/TargetDefinitionDetailDescriptor.json
  knowage-vue/src/modules/kpi/targetDefinition/TargetDefinitionForm.vue
  knowage-vue/src/modules/kpi/targetDefinition/TargetDefinitionHint.vue
  knowage-vue/src/modules/kpi/targetDefinition/TargetDefinitionValidationDescriptor.json
Labels: KPI Engine, Porting Vue.js, javascript
