Repository KnowageLabs/Knowage-Server, pull requests merged in 2022-09, with the labels that each got.

#630 Dashboard sprint 2 bugfix
  knowage-vue/src/modules/documentExecution/documentDetails/dialogs/olapDesignerDialog/DocumentDetailMondrianForm.vue
  knowage-vue/src/modules/documentExecution/documentDetails/dialogs/olapDesignerDialog/DocumentDetailOlapDesignerDialog.vue
Labels: javascript, Porting Vue.js, Bugfix

#633 Sprint 16 bugfix
  knowage-vue/src/modules/documentExecution/documentDetails/tabs/history/DocumentDetailsHistory.vue
Labels: javascript, Porting Vue.js, Bugfix

#634 Bugfixes 7324, 7326
  knowage-vue/src/modules/documentBrowser/DocumentBrowser.vue
Labels: javascript, Porting Vue.js, Bugfix

#636 Bugfix KNOWAGE-7338, KNOWAGE-7356
  knowage-vue/src/modules/documentExecution/main/DocumentExecutionHelpers.ts
  knowage-vue/src/modules/managers/functionsCatalog/FunctionsCatalogPreviewDialog/tabs/FunctionsCatalogConfiguratorTab/FunctionsCatalogDatasetTable/FunctionsCatalogDatasetTable.vue
Labels: javascript, Porting Vue.js, Bugfix

#637 KNOWAGE-7369
  knowage-vue/src/modules/kpi/measureDefinition/MeasureDefinitionSubmitDialog.vue
Labels: javascript, Porting Vue.js, Bugfix

#638 Possible bugfix KNOWAGE-7322
  knowage-vue/src/modules/managers/lovsManagement/cards/LovsManagementWizardCard/LovsManagementWizardCard.vue
Labels: javascript, Porting Vue.js, Bugfix

#639 Possible bugfix KNOWAGE-7344 (POC)
  knowage-vue/src/modules/documentExecution/main/DocumentExecution.vue
Labels: javascript, Porting Vue.js, Bugfix

#641 KNOWAGE-7319
  knowage-vue/src/modules/managers/datasetManagement/detailView/DatasetManagementDetailView.vue
  knowage-vue/src/modules/managers/datasetManagement/detailView/typeCard/DatasetManagementTypeCard.vue
  knowage-vue/src/modules/managers/datasetManagement/detailView/typeCard/qbeDataset/DatasetManagementQbeDataset.vue
  knowage-vue/src/modules/qbe/QBE.vue
Labels: javascript, Porting Vue.js, Bugfix

#642 KNOWAGE-7370
  knowage-vue/src/modules/kpi/targetDefinition/ApplyTargetCard.vue
Labels: javascript, Porting Vue.js, Bugfix

#644 Bugfix KNOWAGE-7388
  knowage-vue/src/components/UI/KnParameterSidebar/dialogs/KnParameterPopupDialog.vue
  knowage-vue/src/modules/documentExecution/main/DocumentExecution.vue
Labels: javascript, Porting Vue.js, Bugfix

#645 Bugfix KNOWAGE-7397
  knowage-vue/src/modules/documentExecution/main/DocumentExecution.vue
Labels: javascript, Porting Vue.js, Bugfix

#646 Bugfix KNOWAGE-7322
  knowage-vue/src/modules/managers/lovsManagement/cards/LovsManagementWizardCard/LovsManagementWizardCard.vue
Labels: javascript, Porting Vue.js, Bugfix

#647 KNOWAGE-7390, KNOWAGE-7395
  knowage-vue/src/modules/documentBrowser/DocumentBrowser.vue
  knowage-vue/src/modules/documentExecution/registry/Registry.vue
  knowage-vue/src/modules/documentExecution/registry/tables/RegistryDatatable.vue
  knowage-vue/src/modules/documentExecution/registry/tables/RegistryDatatableDescriptor.json
Labels: javascript, Porting Vue.js, Bugfix

#649 KNOWAGE-7390
  knowage-vue/src/modules/documentExecution/registry/tables/RegistryDatatable.vue
  knowage-vue/src/modules/documentExecution/registry/tables/RegistryDatatableDescriptor.json
Labels: javascript, Porting Vue.js, Bugfix

#650 Possible bugfix KNOWAGE-7417
  knowage-vue/src/i18n/en_US/messages.json
  knowage-vue/src/modules/documentExecution/documentDetails/DocumentDetails.vue
  knowage-vue/src/modules/documentExecution/main/DocumentExecution.vue
  knowage-vue/src/modules/documentExecution/main/dialogs/documentExecutionCNContainerDialog/DocumentExecutionCNContainerDialog.vue
  knowage-vue/src/modules/managers/datasetManagement/detailView/DatasetManagementDetailView.vue
  knowage-vue/src/modules/managers/datasetManagement/detailView/metadataCard/DatasetManagementMetadataCard.vue
  knowage-vue/src/modules/managers/datasetManagement/detailView/typeCard/DatasetManagementTypeCard.vue
  knowage-vue/src/modules/managers/datasetManagement/detailView/typeCard/queryDataset/DatasetManagementQueryDataset.vue
Labels: javascript, Porting Vue.js, Bugfix

#651 Bugfix KNOWAGE-7389
  knowage-vue/src/helpers/commons/tableHelpers.ts
  knowage-vue/src/i18n/en_US/messages.json
  knowage-vue/src/modules/documentExecution/registry/tables/RegistryDatatable.vue
  knowage-vue/src/modules/documentExecution/registry/tables/RegistryDatatableEditableField.vue
Labels: javascript, Porting Vue.js

#653 Bugfix KNOWAGE-7389
  knowage-vue/src/helpers/commons/tableHelpers.ts
  knowage-vue/src/modules/documentExecution/registry/tables/RegistryDatatableEditableField.vue
Labels: javascript, Porting Vue.js

#654 Bugfix KNOWAGE-7429
  knowage-vue/src/modules/documentExecution/main/DocumentExecution.vue
  knowage-vue/src/modules/documentExecution/main/breadcrumbs/DocumentExecutionBreadcrumb.vue
Labels: javascript, Porting Vue.js, Bugfix

#655 Bugfixing, QBE, Workspace Dataset
  knowage-vue/src/modules/qbe/QBE.vue
  knowage-vue/src/modules/workspace/views/dataView/datasetWizard/WorkspaceDatasetWizardContainer.vue
  knowage-vue/src/modules/workspace/views/dataView/datasetWizard/WorkspaceDatasetWizardDescriptor.json
Labels: javascript, Porting Vue.js, Bugfix

#656 Bugfixes KNOWAGE-7431, KNOWAGE-7432
  knowage-vue/src/modules/documentExecution/registry/tables/RegistryDatatable.vue
  knowage-vue/src/modules/documentExecution/registry/tables/RegistryDatatableDescriptor.json
  knowage-vue/src/modules/kpi/kpiDocumentDesigner/KpiDocumentDesigner.vue
  knowage-vue/src/modules/kpi/kpiDocumentDesigner/KpiDocumentDesignerKpiListCard/KpiDocumentDesignerKpiListCard.vue
Labels: javascript, Porting Vue.js, Bugfix

#657 Bugfix KNOWAGE-7422
  knowage-vue/src/modules/documentExecution/dossier/Dossier.vue
Labels: javascript, Porting Vue.js, Bugfix

#659 Bugfixes 7441, 7442
  knowage-vue/src/modules/documentExecution/olap/Olap.d.ts
  knowage-vue/src/modules/documentExecution/olap/filterDialog/OlapFilterTree.vue
  knowage-vue/src/modules/documentExecution/olap/olapSidebar/OlapSidebar.vue
Labels: javascript, Porting Vue.js, Bugfix, Knowage_8.1
