Repository KnowageLabs/Knowage-Server, pull requests merged in 2022-05, with the labels that each got.

#500 KNOWAGE-6943
  knowage-vue/src/modules/managers/glossaryDefinition/GlossaryDefinitionDetail.vue
Labels: Porting Vue.js, Bugfix, security

#501 KNOWAGE-6613
  knowage-vue/src/modules/managers/datasetManagement/detailView/DatasetManagementDetailView.vue
  knowage-vue/src/modules/managers/datasetManagement/detailView/advancedCard/DatasetManagementScheduler.vue
Labels: javascript, Porting Vue.js, Bugfix

#502 Sprint 13 bugfix
  knowage-vue/src/components/UI/KnParameterSidebar/KnParameterSidebar.vue
  knowage-vue/src/modules/managers/lovsManagement/cards/LovsManagementWizardCard/LovsManagementWizardCard.vue
  knowage-vue/src/modules/qbe/QBE.vue
  knowage-vue/src/modules/qbe/QBEFilterService.ts
  knowage-vue/src/modules/qbe/qbeDialogs/QBEParameterDialog.vue
  knowage-vue/src/modules/qbe/qbeDialogs/qbeFilterDialog/QBEFilterCard.vue
  knowage-vue/src/modules/workspace/views/dataView/dialogs/WorkspaceDataPreviewDialog.vue
Labels: javascript, Porting Vue.js, Bugfix

#504 Bugfix KNOWAGE-6960
  knowage-vue/src/i18n/en_US/messages.json
Labels: javascript, Porting Vue.js, Bugfix

#506 KNOWAGE-6948
  knowage-vue/src/modules/managers/behaviouralModelLineage/BehaviouralModelLineageTable.vue
Labels: javascript, Porting Vue.js, Bugfix

#508 GIS - KNOWAGE-6972 & KNOWAGE-6974
  knowage-vue/src/modules/documentExecution/main/DocumentExecution.vue
  knowage-vue/src/modules/workspace/gisDocumentDesigner/GisDocumentDesigner.vue
Labels: javascript, Porting Vue.js, Bugfix

#507 Sprint 14 bugfix
  knowage-vue/src/modules/documentExecution/olap/Olap.vue
  knowage-vue/src/modules/documentExecution/olap/crossNavigationDefinition/OlapCrossNavigationDefinitionDialog.vue
  knowage-vue/src/modules/documentExecution/olap/crossNavigationDefinition/OlapCrossNavigationStepTwo.vue
  knowage-vue/src/modules/documentExecution/olap/filterPanel/OlapFilterCard.vue
  knowage-vue/src/modules/workspace/views/analysisView/WorkspaceAnalysisView.vue
Labels: javascript, Porting Vue.js, Bugfix

#510 Qbe & Metaweb - Calculated Field Implementation
  knowage-vue/src/components/functionalities/KnCalculatedField/KnCalculatedField.vue
  knowage-vue/src/helpers/commons/buildQbeCalculatedField.ts
  knowage-vue/src/i18n/en_US/messages.json
  knowage-vue/src/modules/managers/businessModelCatalogue/metaweb/businessModel/MetawebBusinessModel.vue
  knowage-vue/src/modules/managers/businessModelCatalogue/metaweb/businessModel/tabs/calculatedField/MetawebCalcFieldDescriptor.json
  knowage-vue/src/modules/managers/businessModelCatalogue/metaweb/businessModel/tabs/calculatedField/MetawebCalculatedField.vue
  knowage-vue/src/modules/managers/businessModelCatalogue/metaweb/businessModel/tabs/calculatedField/MetawebCalculatedFieldDescriptor.json
  knowage-vue/src/modules/qbe/QBE.vue
  knowage-vue/src/modules/qbe/QBECalcFieldDescriptor.json
  knowage-vue/src/modules/qbe/QBEDescriptor.json
  knowage-vue/src/modules/qbe/qbeTables/qbeSimpleTable/QBESimpleTable.vue
Labels: javascript, Porting Vue.js

#511 Sprint 14 bugfix
  knowage-vue/src/modules/documentBrowser/documentBrowserHome/DocumentBrowserHome.vue
  knowage-vue/src/modules/documentExecution/main/DocumentExecution.vue
  knowage-vue/src/modules/documentExecution/olap/filterDialog/OlapFilterDialog.vue
  knowage-vue/src/modules/managers/crossNavigationManagement/CrossNavigationManagement.vue
  knowage-vue/src/modules/managers/crossNavigationManagement/CrossNavigationManagementDescriptor.json
Labels: javascript, Porting Vue.js, Bugfix

#517 Document Details - KNOWAGE-7031
  knowage-vue/src/modules/documentExecution/documentDetails/DocumentDetails.vue
Labels: javascript, Porting Vue.js, Bugfix

#520 Unit tests bugfix
  knowage-vue/src/App.spec.js
  knowage-vue/src/components/UI/KnListBox/KnListBox.spec.js
  knowage-vue/src/components/UI/KnListBox/KnListButtonRenderer.spec.js
  knowage-vue/src/components/UI/KnParameterSidebar/KnParameterSidebar.spec.js
  knowage-vue/src/modules/documentBrowser/documentBrowserHome/DocumentBrowserDetail.spec.js
  knowage-vue/src/modules/documentBrowser/documentBrowserHome/DocumentBrowserHome.spec.js
  knowage-vue/src/modules/documentBrowser/documentBrowserHome/DocumentBrowserTree.spec.js
  knowage-vue/src/modules/documentBrowser/documentBrowserHome/DocumentBrowserTree.vue
  knowage-vue/src/modules/documentBrowser/documentBrowserHome/tables/DocumentBrowserTable.spec.js
  knowage-vue/src/modules/documentExecution/dossier/Dossier.spec.js
  knowage-vue/src/modules/documentExecution/main/DocumentExecution.spec.js
  knowage-vue/src/modules/documentExecution/olap/Olap.spec.js
  knowage-vue/src/modules/documentExecution/registry/tables/RegistryDatatable.spec.js
  knowage-vue/src/modules/importExport/ImportExport.spec.js
  knowage-vue/src/modules/kpi/alertDefinition/actions/AlertDefinitionActionDialog.vue
  knowage-vue/src/modules/kpi/alertDefinition/cards/AlertDefinitionKpiCard.spec.js
  knowage-vue/src/modules/kpi/alertDefinition/cards/AlertDefinitionKpiCard.vue
  knowage-vue/src/modules/kpi/targetDefinition/TargetDefinitionDetail.spec.js
  knowage-vue/src/modules/mainMenu/MainMenu.spec.js
  knowage-vue/src/modules/mainMenu/dialogs/LanguageDialog/LanguageDialog.spec.js
  knowage-vue/src/modules/managers/businessModelCatalogue/BusinessModelCatalogue.spec.js
  knowage-vue/src/modules/managers/businessModelCatalogue/BusinessModelCatalogueDetail.spec.js
  knowage-vue/src/modules/managers/businessModelCatalogue/cards/businessModelDetailsCard/BusinessModelDetailsCard.spec.js
  knowage-vue/src/modules/managers/businessModelCatalogue/metaweb/Metaweb.spec.js
  knowage-vue/src/modules/managers/businessModelCatalogue/metaweb/businessModel/MetawebBusinessModel.spec.js
  knowage-vue/src/modules/managers/businessModelCatalogue/metaweb/businessModel/tabs/propertyListTab/MetawebBusinessPropertyListTab.spec.js
  knowage-vue/src/modules/managers/driversManagement/DriversManagement.spec.js
  knowage-vue/src/modules/managers/driversManagement/DriversManagementDetail.spec.js
  knowage-vue/src/modules/managers/driversManagement/useModes/DriversManagementUseMode.spec.js
  knowage-vue/src/modules/managers/internationalizationManagement/InternationalizationManagement.spec.js
  knowage-vue/src/modules/managers/internationalizationManagement/InternationalizationManagement.vue
  knowage-vue/src/modules/managers/menuManagement/DocumentBrowserTree/MenuManagementDocumentBrowserTree.vue
  knowage-vue/src/modules/managers/menuManagement/MenuManagement.spec.js
  knowage-vue/src/modules/managers/menuManagement/MenuNodesTree/MenuManagementNodesTree.spec.js
  knowage-vue/src/modules/managers/mondrianSchemasManagement/MondrianSchemasDetailTab/MondrianSchemasDetailTab.spec.js
  knowage-vue/src/modules/managers/newsManagement/cards/NewsDetailCard/NewsDetailCard.spec.js
  knowage-vue/src/modules/managers/newsManagement/cards/RolesCard/RolesCard.spec.js
  knowage-vue/src/modules/managers/rolesManagement/RolesManagement.spec.js
  knowage-vue/src/modules/managers/rolesManagement/RolesManagement.vue
  knowage-vue/src/modules/managers/rolesManagement/RolesManagementTabView.spec.js
  knowage-vue/src/modules/managers/rolesManagement/tabs/DomainCategoryTab/DomainCategoryTab.spec.js
  knowage-vue/src/modules/managers/rolesManagement/tabs/RoleDetailTab/RoleDetailTab.spec.js
  knowage-vue/src/modules/managers/scheduler/SchedulerTimingOutputTable/SchedulerTimingOutputDetailDialog/SchedulerTimingOutputDetailDialog.spec.js
  knowage-vue/src/modules/managers/templatePruning/TemplatePruning.spec.js
  knowage-vue/src/modules/managers/tenantManagement/TenantManagementTabView/SelectionTableTab/SelectionTable.spec.js
  knowage-vue/src/modules/qbe/QBE.spec.js
  knowage-vue/src/modules/qbe/QBE.vue
  knowage-vue/src/modules/qbe/qbeTables/qbeSmartTable/QBESmartTable.spec.js
  knowage-vue/src/modules/workspace/Workspace.spec.js
  knowage-vue/src/modules/workspace/views/analysisView/WorkspaceAnalysisView.spec.js
  knowage-vue/src/modules/workspace/views/dataView/WorkspaceDataView.spec.js
  knowage-vue/src/modules/workspace/views/modelsView/WorkspaceModelsView.spec.js
  knowage-vue/src/modules/workspace/views/modelsView/WorkspaceModelsView.vue
Labels: Bugfix

#521 Workspace - KNOWAGE-7043
  knowage-vue/src/modules/qbe/qbeDialogs/qbeSavingDialog/QBESavingDialogDetailTab.vue
  knowage-vue/src/modules/workspace/genericComponents/DetailSidebar.vue
Labels: javascript, Porting Vue.js, Bugfix

#516 Tenants Management - KNOWAGE-6981
  knowage-vue/src/modules/managers/tenantManagement/TenantManagementTabView/SelectionTableTab/SelectionTable.vue
  knowage-vue/src/modules/managers/tenantManagement/TenantManagementTabView/TenantManagementTabView.vue
Labels: javascript, Porting Vue.js, Bugfix

#519 Layers Management - KNOWAGE-7019, KNOWAGE-7020
  knowage-vue/src/modules/managers/layersManagement/LayersManagement.vue
  knowage-vue/src/modules/managers/layersManagement/LayersManagementDescriptor.json
Labels: javascript, Porting Vue.js, Bugfix

#522 QBE - KNOWAGE-6844, KNOWAGE-7022
  knowage-vue/src/components/functionalities/KnCalculatedField/KnCalculatedField.vue
  knowage-vue/src/modules/qbe/QBE.vue
  knowage-vue/src/modules/qbe/QBECalcFieldDescriptor.json
  knowage-vue/src/modules/qbe/qbeDialogs/qbeSavingDialog/QBESavingDialog.vue
  knowage-vue/src/modules/qbe/qbeTables/qbeSmartTable/QBESmartTable.vue
Labels: javascript, Porting Vue.js, Bugfix

#523 Document Details - KNOWAGE-7041
  knowage-vue/src/i18n/en_US/messages.json
  knowage-vue/src/modules/documentExecution/documentDetails/tabs/informations/DocumentDetailsInformations.vue
Labels: javascript, Porting Vue.js, Bugfix

#524 Sprint 14 bugfix
  knowage-vue/src/modules/documentBrowser/DocumentBrowser.routes.js
  knowage-vue/src/modules/documentBrowser/DocumentBrowser.vue
  knowage-vue/src/modules/documentBrowser/DocumentBrowserCockpitContainer.vue
  knowage-vue/src/modules/documentBrowser/DocumentBrowserTab.vue
  knowage-vue/src/modules/documentBrowser/documentBrowserHome/DocumentBrowserHome.vue
  knowage-vue/src/modules/documentExecution/documentDetails/DocumentDetails.vue
  knowage-vue/src/modules/documentExecution/documentDetails/tabs/dataLineage/DocumentDetailsDataLineage.vue
  knowage-vue/src/modules/documentExecution/documentDetails/tabs/drivers/DocumentDetailsDrivers.vue
  knowage-vue/src/modules/documentExecution/documentDetails/tabs/history/DocumentDetailsHistory.vue
  knowage-vue/src/modules/documentExecution/documentDetails/tabs/informations/DocumentDetailsInformations.vue
  knowage-vue/src/modules/documentExecution/documentDetails/tabs/outputParams/DocumentDetailsOutputParameters.vue
  knowage-vue/src/modules/documentExecution/main/DocumentExecution.vue
Labels: javascript, Porting Vue.js, Bugfix

#525 sprint-14-2-bugfix
  knowage-vue/src/i18n/en_US/messages.json
  knowage-vue/src/modules/documentExecution/main/dialogs/documentExecutionMetadataDialog/DocumentExecutionMetadataDialog.vue
  knowage-vue/src/modules/managers/glossaryUsage/GlossaryUsage.vue
  knowage-vue/src/modules/managers/glossaryUsage/GlossaryUsageDetail.vue
  knowage-vue/src/modules/managers/rolesManagement/RolesManagement.vue
  knowage-vue/src/modules/managers/timespan/Timespan.routes.js
  knowage-vue/src/modules/managers/timespan/Timespan.spec.js
  knowage-vue/src/modules/managers/timespan/TimespanHint.vue
Labels: javascript, Porting Vue.js, Bugfix

#526 OLAP - WHATIF - Bugfixes
  knowage-vue/src/i18n/en_US/messages.json
  knowage-vue/src/modules/documentExecution/olap/Olap.vue
  knowage-vue/src/modules/documentExecution/olap/deleteVersionsDialog/OlapDeleteVersionsDialog.vue
  knowage-vue/src/modules/documentExecution/olap/filterToolbar/OlapTopFilterToolbar.vue
  knowage-vue/src/modules/documentExecution/olap/newVersionDialog/OlapSaveNewVersionDialog.vue
  knowage-vue/src/modules/managers/configurationManagement/ConfigurationManagement.vue
Labels: javascript, Porting Vue.js, Bugfix

#514 GDPR - Dataset Management & QBE
  knowage-vue/src/i18n/en_US/messages.json
  knowage-vue/src/modules/managers/datasetManagement/detailView/DatasetManagementDetailView.vue
  knowage-vue/src/modules/managers/datasetManagement/detailView/metadataCard/DatasetManagementMetadataCard.vue
  knowage-vue/src/modules/managers/datasetManagement/detailView/typeCard/DatasetManagementTypeCard.vue
  knowage-vue/src/modules/managers/datasetManagement/detailView/typeCard/preparedDataset/DatasetManagementPreparedDataset.json
  knowage-vue/src/modules/managers/datasetManagement/detailView/typeCard/preparedDataset/DatasetManagementPreparedDataset.vue
  knowage-vue/src/modules/qbe/QBE.vue
  knowage-vue/src/modules/qbe/qbeDialogs/qbeSavingDialog/QBESavingDialog.vue
Labels: javascript, Porting Vue.js

#530 Bugfix KNOWAGE-7084
  knowage-vue/src/modules/documentBrowser/DocumentBrowserTab.vue
  knowage-vue/src/modules/managers/businessModelCatalogue/cards/businessModelVersionsCard/BusinessModelVersionsCard.vue
Labels: javascript, Porting Vue.js, Bugfix

#535 Sprint 14-2 bugfix
  knowage-vue/src/modules/documentExecution/main/DocumentExecution.vue
  knowage-vue/src/modules/documentExecution/olap/Olap.vue
  knowage-vue/src/modules/documentExecution/olap/crossNavigationDefinition/OlapCrossNavigationDefinitionDialog.vue
  knowage-vue/src/modules/documentExecution/olap/crossNavigationDefinition/OlapCrossNavigationStepOne.vue
  knowage-vue/src/modules/documentExecution/olap/filterPanel/OlapFilterCard.vue
  knowage-vue/src/modules/managers/businessModelCatalogue/cards/businessModelDriversCard/BusinessModelDriverDetail.vue
  knowage-vue/src/modules/managers/businessModelCatalogue/metaweb/businessModel/tabs/metawebAttributesTab/MetawebAttributesTab.vue
  knowage-vue/src/modules/managers/glossaryUsage/GlossaryUsage.spec.js
  knowage-vue/src/modules/managers/glossaryUsage/GlossaryUsage.vue
Labels: javascript, Porting Vue.js, Bugfix

#539 Sprint 14-2 bugfix
  knowage-vue/src/components/UI/KnParameterSidebar/KnParameterSidebar.vue
  knowage-vue/src/modules/documentBrowser/DocumentBrowser.vue
  knowage-vue/src/modules/documentExecution/main/DocumentExecution.vue
  knowage-vue/src/modules/managers/businessModelCatalogue/metaweb/businessModel/tabs/metawebAttributesTab/MetawebAttributesTab.vue
  knowage-vue/src/modules/managers/businessModelCatalogue/metaweb/businessModel/tabs/propertyListTab/MetawebBusinessPropertyListTab.vue
  knowage-vue/src/modules/qbe/QBE.vue
  knowage-vue/src/modules/workspace/Workspace.vue
  knowage-vue/src/modules/workspace/views/dataView/dialogs/WorkspaceDataPreviewDialog.vue
Labels: javascript, Porting Vue.js, Bugfix

#546 Bugfix KNOWAGE-7115
  knowage-vue/src/components/UI/KnParameterSidebar/KnParameterSidebar.vue
  knowage-vue/src/modules/documentBrowser/DocumentBrowser.vue
  knowage-vue/src/modules/documentBrowser/documentBrowserHelper.ts
Labels: javascript, Porting Vue.js, Bugfix

#547 Bugfix KNOWAGE-6958
  knowage-vue/src/modules/documentExecution/main/DocumentExecution.d.ts
  knowage-vue/src/modules/documentExecution/main/DocumentExecution.vue
  knowage-vue/src/modules/documentExecution/main/dialogs/documentExecutionMetadataDialog/DocumentExecutionMetadataDialog.vue
Labels: javascript, Porting Vue.js, Bugfix

#549 Data Preparation & Change Requests
  knowage-vue/src/components/functionalities/KnCalculatedField/KnCalculatedField.d.ts
  knowage-vue/src/components/functionalities/KnCalculatedField/KnCalculatedField.vue
  knowage-vue/src/modules/managers/businessModelCatalogue/metaweb/Metaweb.vue
  knowage-vue/src/modules/managers/businessModelCatalogue/metaweb/businessModel/MetawebBusinessModel.vue
  knowage-vue/src/modules/managers/businessModelCatalogue/metaweb/businessModel/tabs/calculatedField/MetawebCalculatedField.vue
  knowage-vue/src/modules/managers/datasetManagement/detailView/typeCard/preparedDataset/DatasetManagementPreparedDataset.vue
  knowage-vue/src/modules/qbe/QBE.vue
  knowage-vue/src/modules/workspace/dataPreparation/DataPreparationDetail.vue
Labels: javascript, Porting Vue.js, Bugfix

#550 Sprint 15 bugfix
  knowage-vue/src/modules/documentExecution/documentDetails/DocumentDetails.vue
  knowage-vue/src/modules/qbe/QBE.vue
  knowage-vue/src/modules/qbe/qbeDialogs/qbePreviewDialog/QBEPreviewDialog.vue
Labels: javascript, Porting Vue.js, Bugfix

#551 KNOWAGE-7069 & KNOWAGE-7058
  knowage-vue/src/modules/managers/usersManagement/UsersManagement.vue
Labels: javascript, Porting Vue.js, Bugfix

#555 Possible bugfix KNOWAGE-7132
  knowage-vue/src/components/UI/KnParameterSidebar/KnParameterSidebar.vue
  knowage-vue/src/components/UI/KnParameterSidebar/KnParameterSidebarDataDependency.ts
  knowage-vue/src/components/UI/KnParameterSidebar/KnParameterSidebarLovsDependency.ts
  knowage-vue/src/modules/documentExecution/main/DocumentExecution.vue
  knowage-vue/src/modules/qbe/QBE.vue
Labels: javascript, Porting Vue.js, Bugfix

#557 Bugfix - KNOWAGE-7110 & KNOWAGE-7133
  knowage-vue/src/i18n/en_US/messages.json
  knowage-vue/src/modules/managers/driversManagement/DriversDetailCard.vue
  knowage-vue/src/modules/managers/driversManagement/DriversManagementDetail.vue
  knowage-vue/src/modules/qbe/qbeDialogs/qbeSavingDialog/QBESavingDialog.vue
Labels: javascript, Porting Vue.js, Bugfix

#559 Bugfixes KNOWAGE-6648
  knowage-vue/src/modules/managers/functionsCatalog/FunctionsCatalogPreviewDialog/tabs/FunctionsCatalogConfiguratorTab/FunctionsCatalogDatasetForm/FunctionsCatalogDatasetForm.vue
Labels: javascript, Porting Vue.js, Bugfix

#562 Sprint 14-2 bugfix
  knowage-vue/src/modules/documentExecution/main/DocumentExecution.vue
Labels: javascript, Porting Vue.js, Bugfix
