Repository KnowageLabs/Knowage-Server, pull requests merged in 2022-04, with the labels that each got.

#467 Sprint 13 bugfix
  knowage-vue/src/components/UI/KnParameterSidebar/dialogs/KnParameterTreeDialog.vue
  knowage-vue/src/modules/documentBrowser/documentBrowserHome/DocumentBrowserHome.vue
  knowage-vue/src/modules/documentExecution/main/DocumentExecution.vue
  knowage-vue/src/modules/managers/businessModelCatalogue/metaweb/businessModel/tabs/metawebAttributesTab/MetawebAttributesTab.vue
  knowage-vue/src/modules/managers/functionalitiesManagement/FunctionalitiesManagement.vue
Labels: javascript, Porting Vue.js, Bugfix

#468 QBE Related Bugfixes
  knowage-vue/src/modules/documentExecution/documentDetails/tabs/history/DocumentDetailsHistory.vue
  knowage-vue/src/modules/managers/businessModelCatalogue/metaweb/businessModel/dialogs/MetawebBusinessClassDialog.vue
  knowage-vue/src/modules/managers/datasetManagement/detailView/DatasetManagementDetailView.vue
  knowage-vue/src/modules/managers/datasetManagement/detailView/typeCard/DatasetManagementTypeCard.vue
  knowage-vue/src/modules/managers/datasetManagement/detailView/typeCard/qbeDataset/DatasetManagementQbeDataset.vue
  knowage-vue/src/modules/managers/datasetManagement/detailView/typeCard/qbeDataset/DatasetManagementQbeDatasetDescriptor.json
  knowage-vue/src/modules/qbe/QBE.vue
  knowage-vue/src/modules/qbe/qbeDialogs/qbeSavingDialog/QBESavingDialog.vue
  knowage-vue/src/modules/qbe/qbeDialogs/qbeSavingDialog/QBESavingDialogDetailTab.vue
  knowage-vue/src/modules/workspace/views/dataView/WorkspaceDataView.vue
Labels: javascript, Porting Vue.js, Bugfix

#469 Sprint 13 bugfix
  knowage-vue/src/modules/documentExecution/main/DocumentExecution.vue
  knowage-vue/src/modules/qbe/qbeDialogs/qbeHavingDialog/QBEHavingDialog.vue
Labels: javascript, Porting Vue.js, Bugfix

#470 Sprint 13 bugfix
  knowage-vue/src/modules/qbe/qbeDialogs/qbeFilterDialog/QBEFilterDialog.vue
  knowage-vue/src/modules/qbe/qbeDialogs/qbeFilterDialog/QBEFilterParameters.vue
Labels: Qbe designer, javascript, Porting Vue.js, Bugfix

#472 Sprint 13 bugfix
  knowage-vue/src/modules/documentBrowser/documentBrowserHome/DocumentBrowserTree.vue
  knowage-vue/src/modules/documentExecution/main/DocumentExecution.vue
Labels: javascript, Porting Vue.js, Bugfix

#474 Sprint 13 bugfix
  knowage-vue/src/components/UI/KnParameterSidebar/KnParameterSidebar.vue
  knowage-vue/src/modules/documentBrowser/documentBrowserHome/DocumentBrowserTree.vue
  knowage-vue/src/modules/qbe/qbeDialogs/qbeHavingDialog/QBEHavingCard.vue
  knowage-vue/src/modules/qbe/qbeDialogs/qbeHavingDialog/QBEHavingDialog.vue
Labels: javascript, Porting Vue.js, Bugfix

#475 QBE - KNOWAGE-6844
  knowage-vue/src/modules/qbe/QBE.vue
  knowage-vue/src/modules/qbe/QBEDescriptor.json
  knowage-vue/src/modules/qbe/qbeDialogs/qbeSavingDialog/QBESavingDialog.vue
Labels: javascript, Porting Vue.js, Bugfix

#477 Qbe - KNOWAGE-6740
  knowage-vue/src/modules/qbe/QBE.vue
Labels: javascript, Porting Vue.js, Bugfix

#478 Qbe - KNOWAGE-6740 UPDATE
  knowage-vue/src/modules/qbe/QBE.vue
Labels: javascript, Porting Vue.js, Bugfix

#479 Sprint 13 bugfix
  knowage-vue/.env
  knowage-vue/src/modules/documentBrowser/DocumentBrowser.vue
  knowage-vue/src/modules/documentExecution/main/DocumentExecution.vue
  knowage-vue/src/modules/documentExecution/olap/Olap.vue
  knowage-vue/src/modules/documentExecution/olap/olapSidebar/OlapSidebar.vue
  knowage-vue/src/modules/managers/cacheManagement/CacheManagement.vue
Labels: javascript, Porting Vue.js, Bugfix

#480 Sprint 13 bugfix
  knowage-vue/src/modules/managers/businessModelCatalogue/cards/businessModelDriversCard/BusinessModelDriverDetail.vue
Labels: javascript, Porting Vue.js, Bugfix

#481 Sprint 13 bugfix
  knowage-vue/src/i18n/en_US/messages.json
  knowage-vue/src/modules/managers/businessModelCatalogue/cards/businessModelDetailsCard/BusinessModelDetailsCard.vue
  knowage-vue/src/modules/managers/businessModelCatalogue/metaweb/Metaweb.vue
  knowage-vue/src/modules/managers/businessModelCatalogue/metaweb/physicalModel/MetawebPhysicalModel.vue
Labels: javascript, Porting Vue.js, Bugfix

#483 Sprint 13 bugfix
  knowage-vue/src/modules/managers/businessModelCatalogue/metaweb/physicalModel/MetawebPhysicalModel.vue
Labels: javascript, Porting Vue.js, Bugfix

#485 Sprint 13 bugfix
  knowage-vue/src/modules/documentExecution/main/DocumentExecution.vue
Labels: javascript, Porting Vue.js, Bugfix

#487 KNOWAGE-6818
  knowage-vue/src/modules/qbe/qbeDialogs/qbeSavingDialog/QBESavingDialog.vue
  knowage-vue/src/modules/qbe/qbeDialogs/qbeSavingDialog/QBESavingDialogDetailTab.vue
Labels: javascript, Porting Vue.js, Bugfix

#486 Hierarchy management dev
  knowage-vue/src/assets/scss/layout/_list.scss
  knowage-vue/src/i18n/en_US/messages.json
  knowage-vue/src/modules/managers/hierarchyManagement/HierarchyManagement.d.ts
  knowage-vue/src/modules/managers/hierarchyManagement/HierarchyManagement.routes.js
  knowage-vue/src/modules/managers/hierarchyManagement/HierarchyManagement.spec.js
  knowage-vue/src/modules/managers/hierarchyManagement/HierarchyManagement.vue
  knowage-vue/src/modules/managers/hierarchyManagement/HierarchyManagementBackupTab/HierarchyManagementBackupTab.vue
  knowage-vue/src/modules/managers/hierarchyManagement/HierarchyManagementDescriptor.json
  knowage-vue/src/modules/managers/hierarchyManagement/HierarchyManagementMasterTab/HierarchyManagementDimensionsCard/HierarchyManagementDimensionsCard.vue
  knowage-vue/src/modules/managers/hierarchyManagement/HierarchyManagementMasterTab/HierarchyManagementDimensionsCard/HierarchyManagementDimensionsFilterCard/HierarchyManagementDimensionsFilterCard.vue
  knowage-vue/src/modules/managers/hierarchyManagement/HierarchyManagementMasterTab/HierarchyManagementDimensionsCard/HierarchyManagementDimensionsTable/HierarchyManagementDimensionsInfoDialog.vue
  knowage-vue/src/modules/managers/hierarchyManagement/HierarchyManagementMasterTab/HierarchyManagementDimensionsCard/HierarchyManagementDimensionsTable/HierarchyManagementDimensionsTable.spec.js
  knowage-vue/src/modules/managers/hierarchyManagement/HierarchyManagementMasterTab/HierarchyManagementDimensionsCard/HierarchyManagementDimensionsTable/HierarchyManagementDimensionsTable.vue
  knowage-vue/src/modules/managers/hierarchyManagement/HierarchyManagementMasterTab/HierarchyManagementDimensionsCard/HierarchyManagementDimensionsTable/HierarchyManagementDimensionsTableDescriptor.json
  knowage-vue/src/modules/managers/hierarchyManagement/HierarchyManagementMasterTab/HierarchyManagementDimensionsCard/HierarchyManagementHierarchyMasterDialog/HierarchyManagementHierarchyMasterDialog.vue
  knowage-vue/src/modules/managers/hierarchyManagement/HierarchyManagementMasterTab/HierarchyManagementDimensionsCard/HierarchyManagementHierarchyMasterDialog/HierarchyManagementHierarchyMasterForm.vue
  knowage-vue/src/modules/managers/hierarchyManagement/HierarchyManagementMasterTab/HierarchyManagementDimensionsCard/HierarchyManagementHierarchyMasterDialog/HierarchyManagementHierarchyMasterSelectList.vue
  knowage-vue/src/modules/managers/hierarchyManagement/HierarchyManagementMasterTab/HierarchyManagementDimensionsCard/HierarchyManagementHierarchyMasterDialog/HierarchyManagementMasterDescriptor.json
  knowage-vue/src/modules/managers/hierarchyManagement/HierarchyManagementMasterTab/HierarchyManagementDimensionsCard/HierarchyManagementHierarchyMasterDialog/HierarchyManagementSelectList.spec.js
  knowage-vue/src/modules/managers/hierarchyManagement/HierarchyManagementMasterTab/HierarchyManagementHierarchiesCard/HierarchyManagementHierarchiesCard.spec.js
  knowage-vue/src/modules/managers/hierarchyManagement/HierarchyManagementMasterTab/HierarchyManagementHierarchiesCard/HierarchyManagementHierarchiesCard.vue
  knowage-vue/src/modules/managers/hierarchyManagement/HierarchyManagementMasterTab/HierarchyManagementHierarchiesCard/HierarchyManagementHierarchiesCardDescriptor.json
  knowage-vue/src/modules/managers/hierarchyManagement/HierarchyManagementMasterTab/HierarchyManagementHierarchiesCard/HierarchyManagementHierarchiesFilterCard/HierarchyManagementHierarchiesFilterCard.vue
  knowage-vue/src/modules/managers/hierarchyManagement/HierarchyManagementMasterTab/HierarchyManagementHierarchiesCard/HierarchyManagementHierarchiesTree/HierarchyManagementHierarchiesTargetDialog.vue
  knowage-vue/src/modules/managers/hierarchyManagement/HierarchyManagementMasterTab/HierarchyManagementHierarchiesCard/HierarchyManagementHierarchiesTree/HierarchyManagementHierarchiesTree.spec.js
  knowage-vue/src/modules/managers/hierarchyManagement/HierarchyManagementMasterTab/HierarchyManagementHierarchiesCard/HierarchyManagementHierarchiesTree/HierarchyManagementHierarchiesTree.vue
  knowage-vue/src/modules/managers/hierarchyManagement/HierarchyManagementMasterTab/HierarchyManagementHierarchiesCard/HierarchyManagementHierarchiesTree/HierarchyManagementHierarchiesTreeDescriptor.json
  knowage-vue/src/modules/managers/hierarchyManagement/HierarchyManagementMasterTab/HierarchyManagementHierarchiesCard/HierarchyManagementHierarchiesTree/HierarchyManagementNodeDetailDialog.vue
  knowage-vue/src/modules/managers/hierarchyManagement/HierarchyManagementMasterTab/HierarchyManagementMasterTab.vue
  knowage-vue/src/modules/managers/hierarchyManagement/HierarchyManagementTechnicalTab/HierarchyManagementSourceCard/HierarchyManagementSourceCard.vue
  knowage-vue/src/modules/managers/hierarchyManagement/HierarchyManagementTechnicalTab/HierarchyManagementSourceCard/HierarchyManagementSourceCardDescriptor.json
  knowage-vue/src/modules/managers/hierarchyManagement/HierarchyManagementTechnicalTab/HierarchyManagementTargetCard/HierarchyManagementTargetCard.vue
  knowage-vue/src/modules/managers/hierarchyManagement/HierarchyManagementTechnicalTab/HierarchyManagementTargetCard/HierarchyManagementTargetCardDescriptor.json
  knowage-vue/src/modules/managers/hierarchyManagement/HierarchyManagementTechnicalTab/HierarchyManagementTechnicalTab.vue
  knowage-vue/src/modules/managers/managers.routes.js
Labels: javascript, Porting Vue.js

#488 Spinner Fixes
  knowage-vue/src/assets/scss/base/_common.scss
  knowage-vue/src/modules/documentExecution/olap/Olap.vue
  knowage-vue/src/modules/managers/behaviouralModelLineage/BehaviouralModelLineage.vue
  knowage-vue/src/modules/managers/datasetManagement/DatasetManagement.vue
  knowage-vue/src/modules/managers/hierarchyManagement/HierarchyManagement.vue
  knowage-vue/src/modules/managers/hierarchyManagement/HierarchyManagementDescriptor.json
  knowage-vue/src/modules/qbe/QBE.vue
  knowage-vue/src/modules/qbe/QBEDescriptor.json
Labels: javascript, Porting Vue.js, Bugfix

#489 KNOWAGE-6857 & KNOWAGE-6802
  knowage-vue/src/modules/managers/menuManagement/MenuNodesTree/MenuManagementNodesTree.vue
  knowage-vue/src/modules/managers/menuManagement/RolesCard/MenuManagementRolesCard.vue
Labels: javascript, Porting Vue.js, Bugfix

#490 KNOWAGE-6839 - FireFox Fix
  knowage-vue/src/modules/managers/businessModelCatalogue/metaweb/businessModel/tableAssociator/MetawebTableAssociator.vue
Labels: javascript, Porting Vue.js, Bugfix

#495 KNOWAGE-6882
  knowage-vue/src/modules/qbe/QBE.vue
Labels: javascript, Porting Vue.js, Bugfix

#494 KNOWAGE-6929
  knowage-vue/src/modules/documentExecution/main/DocumentExecution.vue
Labels: javascript, Porting Vue.js, Bugfix

#496 QBE - KNOWAGE-6917
  knowage-vue/src/modules/qbe/qbeDialogs/qbePreviewDialog/QBEPreviewDialog.vue
Labels: javascript, Porting Vue.js, Bugfix

#497 KNOWAGE-6865
  knowage-vue/src/i18n/en_US/messages.json
  knowage-vue/src/modules/managers/datasetManagement/detailView/DatasetManagementDetailView.vue
  knowage-vue/src/modules/managers/datasetManagement/detailView/detailCard/DatasetManagementDetailCard.vue
  knowage-vue/src/modules/managers/datasetManagement/detailView/typeCard/tables/DatasetManagementJsonPathAttributesTable.vue
  knowage-vue/src/modules/managers/datasetManagement/detailView/typeCard/tables/DatasetManagementParamTable.vue
  knowage-vue/src/modules/managers/datasetManagement/detailView/typeCard/tables/DatasetManagementQueryParamTable.vue
  knowage-vue/src/modules/managers/datasetManagement/detailView/typeCard/tables/DatasetManagementRequestHeadersTable.vue
Labels: javascript, Porting Vue.js, Bugfix

#493 What If - OLAP v1.0
  knowage-vue/src/i18n/en_US/messages.json
  knowage-vue/src/modules/documentExecution/main/DocumentExecution.vue
  knowage-vue/src/modules/documentExecution/olap/Olap.d.ts
  knowage-vue/src/modules/documentExecution/olap/Olap.vue
  knowage-vue/src/modules/documentExecution/olap/algorithmDialog/OlapAlgorithmDialog.json
  knowage-vue/src/modules/documentExecution/olap/algorithmDialog/OlapAlgorithmDialog.vue
  knowage-vue/src/modules/documentExecution/olap/deleteVersionsDialog/OlapDeleteVersionsDialog.vue
  knowage-vue/src/modules/documentExecution/olap/deleteVersionsDialog/OlapDeleteVersionsDialogDescriptor.json
  knowage-vue/src/modules/documentExecution/olap/filterDialog/OlapFilterDialog.vue
  knowage-vue/src/modules/documentExecution/olap/filterDialog/OlapFilterDialogDescriptor.json
  knowage-vue/src/modules/documentExecution/olap/filterDialog/OlapFilterTable.vue
  knowage-vue/src/modules/documentExecution/olap/filterDialog/OlapFilterTree.vue
  knowage-vue/src/modules/documentExecution/olap/filterPanel/OlapFilterCard.vue
  knowage-vue/src/modules/documentExecution/olap/filterPanel/OlapFilterPanel.vue
  knowage-vue/src/modules/documentExecution/olap/filterToolbar/OlapLeftFilterToolbar.vue
  knowage-vue/src/modules/documentExecution/olap/filterToolbar/OlapTopFilterToolbar.vue
  knowage-vue/src/modules/documentExecution/olap/newVersionDialog/OlapSaveNewVersionDialog.vue
  knowage-vue/src/modules/documentExecution/olap/newVersionDialog/OlapSaveNewVersionDialogDescriptor.json
  knowage-vue/src/modules/documentExecution/olap/olapSidebar/OlapSidebar.vue
  knowage-vue/src/modules/documentExecution/olap/outputWizard/OlapOutputWizard.vue
  knowage-vue/src/modules/documentExecution/olap/outputWizard/OlapOutputWizardDescriptor.json
  knowage-vue/src/modules/documentExecution/olap/scenarioWizard/OlapScenarioWizard.vue
  knowage-vue/src/modules/documentExecution/olap/scenarioWizard/OlapScenarioWizardDescriptor.json
Labels: javascript, Porting Vue.js

#498 GIS and KPI
  knowage-vue/.env
  knowage-vue/src/i18n/en_US/messages.json
  knowage-vue/src/modules/documentBrowser/documentBrowserHome/DocumentBrowserHome.vue
  knowage-vue/src/modules/documentExecution/documentDetails/DocumentDetails.routes.js
  knowage-vue/src/modules/documentExecution/documentDetails/DocumentDetails.vue
  knowage-vue/src/modules/documentExecution/documentDetails/tabs/history/DocumentDetailsHistory.vue
  knowage-vue/src/modules/documentExecution/documentDetails/tabs/informations/DocumentDetailsInformations.vue
  knowage-vue/src/modules/documentExecution/documentExecution.routes.js
  knowage-vue/src/modules/kpi/kpi.routes.js
  knowage-vue/src/modules/kpi/kpiDocumentDesigner/KpiDocumentDesigner.routes.js
  knowage-vue/src/modules/kpi/kpiDocumentDesigner/KpiDocumentDesigner.spec.js
  knowage-vue/src/modules/kpi/kpiDocumentDesigner/KpiDocumentDesigner.ts
  knowage-vue/src/modules/kpi/kpiDocumentDesigner/KpiDocumentDesigner.vue
  knowage-vue/src/modules/kpi/kpiDocumentDesigner/KpiDocumentDesignerDocumentTypeCard/KpiDocumentDesignerDocumentTypeCard.vue
  knowage-vue/src/modules/kpi/kpiDocumentDesigner/KpiDocumentDesignerDocumentTypeCard/KpiDocumentDesignerDocumentTypeCardDescriptor.json
  knowage-vue/src/modules/kpi/kpiDocumentDesigner/KpiDocumentDesignerKpiListCard/KpiDocumentDesignerKpiListCard.spec.js
  knowage-vue/src/modules/kpi/kpiDocumentDesigner/KpiDocumentDesignerKpiListCard/KpiDocumentDesignerKpiListCard.vue
  knowage-vue/src/modules/kpi/kpiDocumentDesigner/KpiDocumentDesignerKpiListCard/KpiDocumentDesignerKpiListCardDescriptor.json
  knowage-vue/src/modules/kpi/kpiDocumentDesigner/KpiDocumentDesignerKpiListCard/KpiDocumentDesignerKpiSelectDialog.vue
  knowage-vue/src/modules/kpi/kpiDocumentDesigner/KpiDocumentDesignerOptionsCard/KpiDocumentDesignerOptionsCard.vue
  knowage-vue/src/modules/kpi/kpiDocumentDesigner/KpiDocumentDesignerOptionsCard/KpiDocumentDesignerOptionsCardDescriptor.json
  knowage-vue/src/modules/kpi/kpiDocumentDesigner/KpiDocumentDesignerSaveDialog/KpiDocumentDesignerSaveDialog.vue
  knowage-vue/src/modules/kpi/kpiDocumentDesigner/KpiDocumentDesignerSaveDialog/KpiDocumentDesignerSaveDialogDescriptor.json
  knowage-vue/src/modules/kpi/kpiDocumentDesigner/KpiDocumentDesignerScorecardsListCard/KpiDocumentDesignerScorecardSelectDialog.vue
  knowage-vue/src/modules/kpi/kpiDocumentDesigner/KpiDocumentDesignerScorecardsListCard/KpiDocumentDesignerScorecardsListCard.spec.js
  knowage-vue/src/modules/kpi/kpiDocumentDesigner/KpiDocumentDesignerScorecardsListCard/KpiDocumentDesignerScorecardsListCard.vue
  knowage-vue/src/modules/kpi/kpiDocumentDesigner/KpiDocumentDesignerScorecardsListCard/KpiDocumentDesignerScorecardsListCardDescriptor.json
  knowage-vue/src/modules/kpi/kpiDocumentDesigner/KpiDocumentDesignerStyleCard/KpiDocumentDesignerStyleCard.vue
  knowage-vue/src/modules/kpi/kpiDocumentDesigner/KpiDocumentDesignerStyleCard/KpiDocumentDesignerStyleCardDescriptor.json
  knowage-vue/src/modules/kpi/kpiDocumentDesigner/KpiDocumentDesignerTypeCard/KpiDocumentDesignerTypeCard.vue
  knowage-vue/src/modules/kpi/kpiDocumentDesigner/KpiDocumentDesignerTypeCard/KpiDocumentDesignerTypeCardDescriptor.json
  knowage-vue/src/modules/workspace/gisDocumentDesigner/GisDocumentDesigner.d.ts
  knowage-vue/src/modules/workspace/gisDocumentDesigner/GisDocumentDesigner.routes.js
  knowage-vue/src/modules/workspace/gisDocumentDesigner/GisDocumentDesigner.vue
  knowage-vue/src/modules/workspace/gisDocumentDesigner/GisDocumentDesignerDescriptor.json
  knowage-vue/src/modules/workspace/gisDocumentDesigner/tabs/dataset&Layer/GisDocumentDesignerDataset&Layer.vue
  knowage-vue/src/modules/workspace/gisDocumentDesigner/tabs/dataset&Layer/GisDocumentDesignerDataset&LayerDescriptor.json
  knowage-vue/src/modules/workspace/gisDocumentDesigner/tabs/dataset&Layer/GisDocumentDesignerDataset.vue
  knowage-vue/src/modules/workspace/gisDocumentDesigner/tabs/dataset&Layer/GisDocumentDesignerLayer.vue
  knowage-vue/src/modules/workspace/gisDocumentDesigner/tabs/dataset&Layer/GisDocumentDesignerLayerFilters.vue
  knowage-vue/src/modules/workspace/gisDocumentDesigner/tabs/datasetJoin/GisDocumentDesignerDatasetJoin.vue
  knowage-vue/src/modules/workspace/gisDocumentDesigner/tabs/indicator/GisDocumentDesignerIndicator.vue
  knowage-vue/src/modules/workspace/gisDocumentDesigner/tabs/menu/GisDocumentDesignerMenu.vue
  knowage-vue/src/modules/workspace/views/analysisView/WorkspaceAnalysisView.vue
  knowage-vue/src/modules/workspace/workspace.routes.js
  knowage-vue/vue.config.js
Labels: javascript, Porting Vue.js
