Repository KnowageLabs/Knowage-Server, pull requests merged in 2022-01, with the labels that each got.

#320 Document browser bugfix
  knowage-vue/src/modules/documentBrowser/documentBrowserHome/sidebar/DocumentBrowserSidebar.vue
  knowage-vue/src/modules/documentBrowser/documentBrowserHome/tables/DocumentBrowserTable.vue
  knowage-vue/src/modules/documentExecution/main/DocumentExecution.vue
Labels: javascript, Porting Vue.js, Bugfix

#321 Workspace KNOWAGE-6502
  knowage-vue/src/modules/workspace/genericComponents/DetailSidebar.vue
Labels: javascript, Porting Vue.js, Bugfix

#322 Drivers Management KNOWAGE-6505
  knowage-vue/src/modules/managers/driversManagement/DriversDetailCard.vue
Labels: javascript, Porting Vue.js, Bugfix

#324 Possible Bugfixes
  knowage-vue/src/modules/workspace/Workspace.vue
  knowage-vue/src/modules/workspace/genericComponents/DetailSidebar.vue
  knowage-vue/src/modules/workspace/views/dataView/WorkspaceDataView.vue
Labels: javascript, Porting Vue.js, Bugfix

#327 Locale Fixes
  knowage-vue/src/modules/documentExecution/dossier/Dossier.vue
  knowage-vue/src/modules/kpi/kpiDefinition/KpiDefinition.vue
  knowage-vue/src/modules/managers/datasetManagement/detailView/detailCard/DatasetManagementDetailCard.vue
  knowage-vue/src/modules/managers/mondrianSchemasManagement/MondrianSchemasDetailTab/MondrianSchemasDetailTab.vue
  knowage-vue/src/modules/workspace/views/analysisView/WorkspaceAnalysisView.vue
  knowage-vue/src/modules/workspace/views/recentView/WorkspaceRecentView.vue
  knowage-vue/src/modules/workspace/views/repositoryView/WorkspaceRepositoryView.vue
Labels: javascript, Porting Vue.js, Bugfix

#328 Alert definition bugfix
  knowage-vue/src/components/UI/KnCron/KnCron.vue
  knowage-vue/src/modules/kpi/alertDefinition/AlertDefinitionDetail.vue
Labels: javascript, Porting Vue.js, Bugfix

#329 Scheduler bugfix
  .github/workflows/stale.yml
  knowage-vue/src/modules/managers/scheduler/SchedulerDocumentsTable/SchedulerDocumentParameterForm.vue
Labels: javascript, Porting Vue.js, Bugfix

#323 Document execution bugfix
  knowage-vue/src/components/UI/KnParameterSidebar/KnParameterSidebar.vue
  knowage-vue/src/i18n/en_US.json
  knowage-vue/src/modules/documentExecution/olap/filterToolbar/OlapFilterToolbarDescriptor.json
  knowage-vue/src/modules/managers/lovsManagement/cards/LovsManagementWizardCard/LovsManagementWizardCard.vue
Labels: javascript, Porting Vue.js, Bugfix

#331 Menu configuration management bugfix
  Knowage-Python/src/app/__pycache__/__init__.cpython-39.pyc
  Knowage-Python/src/app/services/__pycache__/__init__.cpython-39.pyc
  Knowage-Python/src/app/services/__pycache__/catalog_resource.cpython-39.pyc
  Knowage-Python/src/app/services/__pycache__/dataset_resource.cpython-39.pyc
  Knowage-Python/src/app/services/__pycache__/widget_resource.cpython-39.pyc
  Knowage-Python/src/app/utilities/__pycache__/__init__.cpython-39.pyc
  Knowage-Python/src/app/utilities/__pycache__/configs.cpython-39.pyc
  Knowage-Python/src/app/utilities/__pycache__/security.cpython-39.pyc
  Knowage-Python/src/app/utilities/__pycache__/utils.cpython-39.pyc
  Knowage-Python/src/logs/knowage-python.log
  knowage-vue/src/i18n/en_US.json
  knowage-vue/src/modules/managers/menuManagement/ElementDetailsCard/MenuManagementElementsDetail.vue
  knowage-vue/src/modules/managers/menuManagement/MenuManagement.vue
  knowage-vue/src/modules/managers/menuManagement/MenuNodesTree/MenuManagementNodesTree.vue
  knowage-vue/src/modules/managers/menuManagement/RolesCard/MenuManagementRolesCard.vue
Labels: javascript, Bugfix

#332 Menu configuration management bugfix
  knowage-vue/src/i18n/en_US.json
  knowage-vue/src/modules/managers/menuManagement/MenuManagement.vue
  knowage-vue/src/modules/managers/menuManagement/MenuNodesTree/MenuManagementNodesTree.vue
Labels: javascript, Porting Vue.js, Bugfix

#333 Users management bugfix
  knowage-vue/src/assets/scss/base/_common.scss
  knowage-vue/src/modules/managers/profileAttributesManagement/ProfileAttributesManagement.vue
  knowage-vue/src/modules/managers/usersManagement/UsersManagement.vue
Labels: javascript, Porting Vue.js, Bugfix

#334 KNOWAGE-6548
  knowage-vue/src/modules/workspace/views/dataView/tables/DatasetPreviewTable.vue
Labels: javascript, Porting Vue.js, Bugfix

#336 Cache management bugfix
  knowage-vue/src/modules/managers/cacheManagement/cards/RuntimeInformationCard/RuntimeInformationCard.vue
Labels: javascript, Porting Vue.js, Bugfix

#337 Document browser bugfix
  knowage-vue/src/modules/documentBrowser/DocumentBrowser.routes.js
  knowage-vue/src/modules/documentBrowser/DocumentBrowser.vue
  knowage-vue/src/modules/documentBrowser/documentBrowserHome/DocumentBrowserHome.vue
  knowage-vue/src/modules/mainMenu/dialogs/InfoDialog.vue
Labels: javascript, Porting Vue.js, Bugfix

#344 Workspace - Debugging
  knowage-vue/src/modules/workspace/Workspace.vue
Labels: javascript, Porting Vue.js, Bugfix

#346 Document Details - CR
  knowage-vue/src/modules/documentExecution/documentDetails/DocumentDetails.d.ts
  knowage-vue/src/modules/documentExecution/documentDetails/DocumentDetails.vue
  knowage-vue/src/modules/documentExecution/documentDetails/tabs/dataLineage/DocumentDetailsDataLineage.vue
  knowage-vue/src/modules/documentExecution/documentDetails/tabs/informations/DocumentDetailsInformations.vue
Labels: javascript, Porting Vue.js, Bugfix

#347 Glossary usage bugfix
  knowage-vue/src/modules/managers/glossaryUsage/GlossaryUsage.vue
  knowage-vue/src/modules/managers/glossaryUsage/GlossaryUsageDetail.vue
  knowage-vue/src/modules/managers/glossaryUsage/card/GlossaryUsageNavigationCard.vue
Labels: javascript, Porting Vue.js, Bugfix

#348 Document Details - Improvements
  knowage-vue/src/modules/documentExecution/documentDetails/DocumentDetails.vue
  knowage-vue/src/modules/documentExecution/documentDetails/DocumentDetailsDescriptor.json
Labels: javascript, Porting Vue.js, Bugfix

#349 Workspace - Debugging
  knowage-vue/src/modules/workspace/Workspace.vue
Labels: javascript, Porting Vue.js, Bugfix

#352 Document execution bugfix
  knowage-vue/src/components/UI/KnParameterSidebar/KnParameterSidebar.vue
  knowage-vue/src/components/UI/KnParameterSidebar/KnParameterSidebarVisualDependency.ts
  knowage-vue/src/modules/documentExecution/main/DocumentExecution.vue
Labels: javascript, Porting Vue.js, Bugfix

#353 Document execution bugfix
  knowage-vue/src/components/UI/KnParameterSidebar/KnParameterSidebar.vue
Labels: javascript, Porting Vue.js, Bugfix

#355 Dataset Management - Fixes
  knowage-vue/src/modules/managers/datasetManagement/detailView/DatasetManagementDetailView.vue
  knowage-vue/src/modules/managers/datasetManagement/detailView/metadataCard/DatasetManagementMetadataCardDescriptor.json
  knowage-vue/src/modules/managers/datasetManagement/detailView/typeCard/scriptDataset/DatasetManagementScriptDataset.vue
Labels: javascript, Porting Vue.js, Bugfix

#357 Dataset Management - Schedulation Update
  knowage-vue/src/modules/managers/datasetManagement/detailView/advancedCard/DatasetManagementScheduler.vue
Labels: javascript, Porting Vue.js, Bugfix

#358 Profile attributes management bugfix
  knowage-vue/src/helpers/commons/regexHelper.ts
Labels: javascript, Porting Vue.js, Bugfix

#359 Users management bugfix
  knowage-vue/src/helpers/commons/regexHelper.ts
  knowage-vue/src/helpers/commons/validationHelper.ts
  knowage-vue/src/modules/managers/usersManagement/UserDetailTab/DetailFormTabValidationDescriptor.json
Labels: javascript, Porting Vue.js, Bugfix

#360 Dataset Management Bugfixes
  knowage-vue/src/i18n/en_US.json
  knowage-vue/src/modules/managers/datasetManagement/DatasetManagement.vue
  knowage-vue/src/modules/managers/datasetManagement/detailView/DatasetManagementDetailView.vue
  knowage-vue/src/modules/managers/datasetManagement/detailView/advancedCard/DatasetManagementScheduler.vue
  knowage-vue/src/modules/managers/datasetManagement/detailView/metadataCard/DatasetManagementMetadataCardDescriptor.json
Labels: javascript, Porting Vue.js, Bugfix

#361 Metaweb bugfix
  knowage-vue/src/modules/managers/businessModelCatalogue/cards/businessModelDetailsCard/BusinessModelDetailsCard.vue
Labels: javascript, Porting Vue.js, Bugfix

#364 Roles Management - Change Request
  knowage-vue/src/i18n/en_US.json
  knowage-vue/src/modules/managers/rolesManagement/RolesManagement.vue
  knowage-vue/src/modules/managers/rolesManagement/RolesManagementDescriptor.json
  knowage-vue/src/modules/managers/rolesManagement/RolesManagementTabView.vue
  knowage-vue/src/modules/managers/rolesManagement/tabs/RoleDetailTab/RoleDetailTab.vue
Labels: javascript, Porting Vue.js
