Repository KnowageLabs/Knowage-Server, pull requests merged in 2022-03, with the labels that each got.

#398 Qbe dev
  knowage-vue/src/components/UI/KnParameterSidebar/KnParameterSidebar.vue
  knowage-vue/src/components/UI/KnParameterSidebar/KnParameterSidebarDataDependency.ts
  knowage-vue/src/components/UI/KnParameterSidebar/KnParameterSidebarLovsDependency.ts
  knowage-vue/src/modules/qbe/qbeDialogs/qbeFilterDialog/QBEFilterDialog.vue
Labels: javascript, Porting Vue.js

#399 Document execution bugfix
  knowage-vue/src/modules/documentExecution/main/dialogs/documentExecutionMetadataDialog/DocumentExecutionMetadataDialog.vue
Labels: javascript, Porting Vue.js, Bugfix

#402 Document browser bugfix
  knowage-vue/src/modules/documentBrowser/documentBrowserHome/tables/DocumentBrowserTable.vue
Labels: javascript, Porting Vue.js, Bugfix

#403 Document browser bugfix
  knowage-vue/src/modules/documentBrowser/documentBrowserHome/tables/DocumentBrowserTable.vue
Labels: javascript, Porting Vue.js, Bugfix

#406 QBE - Changes after peer review
  knowage-vue/.env
  knowage-vue/src/i18n/en_US/messages.json
  knowage-vue/src/modules/qbe/QBE.d.ts
  knowage-vue/src/modules/qbe/QBE.vue
  knowage-vue/src/modules/qbe/qbeComponents/QBEExpandableEntity.vue
  knowage-vue/src/modules/qbe/qbeDialogs/qbeFilterDialog/QBEFilterCard.vue
  knowage-vue/src/modules/qbe/qbeDialogs/qbeFilterDialog/QBEFilterDialogDescriptor.json
  knowage-vue/src/modules/workspace/views/modelsView/WorkspaceModelsView.vue
Labels: javascript, Porting Vue.js, Bugfix

#407 Document execution bugfix
  knowage-vue/src/i18n/en_US/messages.json
  knowage-vue/src/modules/documentExecution/main/dialogs/documentExecutionMailDialog/DocumentExecutionMailDialog.vue
  knowage-vue/src/modules/documentExecution/main/dialogs/documentExecutionMailDialog/DocumentExecutionMailDialogDescriptor.json
Labels: javascript, Porting Vue.js, Bugfix

#408 KNOWAGE-6709, KNOWAGE-6710 - Bugfixes
  knowage-vue/src/modules/managers/datasetManagement/detailView/DatasetManagementDetailView.vue
  knowage-vue/src/modules/workspace/views/dataView/dialogs/WorkspaceDataPreviewDialog.vue
Labels: javascript, Porting Vue.js, Bugfix

#409 KNOWAGE-6711 - Bugfix
  knowage-vue/src/components/UI/KnListBox/KnListBox.vue
  knowage-vue/src/modules/documentExecution/documentDetails/DocumentDetails.vue
Labels: javascript, Porting Vue.js, Bugfix

#410 Qbe dev
  knowage-vue/.env
  knowage-vue/package-lock.json
  knowage-vue/package.json
  knowage-vue/src/modules/qbe/QBE.spec.js
  knowage-vue/src/modules/qbe/QBE.vue
Labels: javascript, Porting Vue.js

#412 Document Details - KNOWAGE-6716
  knowage-vue/src/modules/documentExecution/documentDetails/DocumentDetails.vue
Labels: javascript, Porting Vue.js, Bugfix

#413 Users management bugfix - KNOWAGE-6713
  knowage-vue/src/modules/managers/usersManagement/UserRolesTab/RolesTab.vue
  knowage-vue/src/modules/managers/usersManagement/UsersManagement.vue
Labels: javascript, Porting Vue.js, Bugfix

#414 Qbe dev
  knowage-vue/.env
  knowage-vue/src/modules/qbe/QBE.vue
  knowage-vue/src/modules/workspace/views/modelsView/WorkspaceModelsView.vue
Labels: javascript, Porting Vue.js, Bugfix

#415 QBE - Added Globe Icon
  knowage-vue/src/modules/qbe/qbeComponents/QBEExpandableEntity.vue
Labels: javascript, Porting Vue.js, Bugfix

#416 QBE - bugfix batch
  knowage-vue/src/i18n/en_US/messages.json
  knowage-vue/src/modules/managers/datasetManagement/detailView/metadataCard/DatasetManagementMetadataCard.vue
  knowage-vue/src/modules/qbe/QBE.vue
  knowage-vue/src/modules/qbe/QBEFilterService.ts
  knowage-vue/src/modules/qbe/qbeComponents/QBEExpandableEntity.vue
  knowage-vue/src/modules/qbe/qbeTables/qbeSimpleTable/QBESimpleTable.vue
  knowage-vue/src/modules/qbe/qbeTables/qbeSimpleTable/QBESimpleTableDescriptor.json
  knowage-vue/src/modules/qbe/qbeTables/qbeSmartTable/QBESmartTable.vue
Labels: javascript, Porting Vue.js, Bugfix

#418 QBE - KNOWAGE-6755
  knowage-vue/src/modules/qbe/QBE.vue
  knowage-vue/src/modules/qbe/qbeTables/qbeSmartTable/QBESmartTable.vue
Labels: javascript, Porting Vue.js, Bugfix

#419 Document Details - KNOWAGE-6750
  knowage-vue/src/modules/documentExecution/documentDetails/DocumentDetails.vue
  knowage-vue/src/modules/documentExecution/documentDetails/tabs/informations/DocumentDetailsInformations.vue
Labels: javascript, Porting Vue.js, Bugfix

#420 Timespan dev
  knowage-vue/src/i18n/en_US/messages.json
  knowage-vue/src/modules/managers/businessModelCatalogue/BusinessModelCatalogueDetail.spec.js
  knowage-vue/src/modules/managers/managers.routes.js
  knowage-vue/src/modules/managers/timespan/Timespan.d.ts
  knowage-vue/src/modules/managers/timespan/Timespan.routes.js
  knowage-vue/src/modules/managers/timespan/Timespan.spec.js
  knowage-vue/src/modules/managers/timespan/Timespan.vue
  knowage-vue/src/modules/managers/timespan/TimespanDescriptor.json
  knowage-vue/src/modules/managers/timespan/TimespanDetail.spec.js
  knowage-vue/src/modules/managers/timespan/TimespanDetail.vue
  knowage-vue/src/modules/managers/timespan/TimespanForm.vue
  knowage-vue/src/modules/managers/timespan/TimespanIntervalForm.spec.js
  knowage-vue/src/modules/managers/timespan/TimespanIntervalForm.vue
  knowage-vue/src/modules/managers/timespan/TimespanIntervalTable.spec.js
  knowage-vue/src/modules/managers/timespan/TimespanIntervalTable.vue
  knowage-vue/src/modules/managers/timespan/timespanHelpers.ts
Labels: javascript, Porting Vue.js

#421 Layers Management v1.0
  knowage-vue/src/i18n/en_US/messages.json
  knowage-vue/src/modules/managers/layersManagement/LayersManagement.d.ts
  knowage-vue/src/modules/managers/layersManagement/LayersManagement.routes.js
  knowage-vue/src/modules/managers/layersManagement/LayersManagement.vue
  knowage-vue/src/modules/managers/layersManagement/LayersManagementDescriptor.json
  knowage-vue/src/modules/managers/layersManagement/LayersManagementHint.vue
  knowage-vue/src/modules/managers/layersManagement/detailView/LayersManagementDetailView.vue
  knowage-vue/src/modules/managers/layersManagement/detailView/filterTab/LayersManagementFilterTab.spec.js
  knowage-vue/src/modules/managers/layersManagement/detailView/filterTab/LayersManagementFilterTab.vue
  knowage-vue/src/modules/managers/layersManagement/detailView/filterTab/LayersManagementFilterTabDescriptor.json
  knowage-vue/src/modules/managers/layersManagement/detailView/layerTab/LayersManagementLayerTab.vue
  knowage-vue/src/modules/managers/layersManagement/detailView/layerTab/LayersManagementLayerTabDescriptor.json
  knowage-vue/src/modules/managers/layersManagement/downloadDialog/LayersManagementDownloadDialog.vue
  knowage-vue/src/modules/managers/layersManagement/downloadDialog/LayersManagementDownloadDialogDescriptor.json
  knowage-vue/src/modules/managers/managers.routes.js
Labels: javascript, Porting Vue.js

#422 Document Details - KNOWAGE-6751
  knowage-vue/src/modules/documentExecution/documentDetails/tabs/dataLineage/DocumentDetailsDataLineage.vue
Labels: javascript, Porting Vue.js, Bugfix

#423 QBE - Bugfixes
  knowage-vue/src/modules/qbe/QBE.vue
  knowage-vue/src/modules/qbe/qbeDialogs/qbeJoinDefinitionDialog/QBEJoinDefinitionDialog.vue
Labels: javascript, Porting Vue.js, Bugfix

#425 Document execution bugfix
  knowage-vue/src/modules/documentExecution/main/DocumentExecution.d.ts
  knowage-vue/src/modules/documentExecution/main/dialogs/documentExecutionNotesDialog/DocumentExecutionNotesDialog.vue
  knowage-vue/src/modules/documentExecution/main/dialogs/documentExecutionNotesDialog/DocumentExecutionNotesDialogDescriptor.json
  knowage-vue/src/modules/documentExecution/main/dialogs/documentExecutionNotesDialog/DocumentExecutionNotesList.vue
Labels: javascript, Porting Vue.js, Bugfix

#426 Registry bugfix
  knowage-vue/src/components/UI/KnPivotTable/KnPivotTable.vue
  knowage-vue/src/components/UI/KnPivotTable/KnPivotTableEditableField.vue
  knowage-vue/src/modules/documentExecution/registry/Registry.vue
  knowage-vue/src/modules/documentExecution/registry/tables/RegistryDatatableEditableField.vue
Labels: javascript, Porting Vue.js, Bugfix

#428 QBE - Bugfix
  knowage-vue/src/components/UI/KnParameterSidebar/KnParameterSidebar.vue
  knowage-vue/src/modules/qbe/QBE.vue
  knowage-vue/src/modules/qbe/QBEFilterService.ts
  knowage-vue/src/modules/qbe/qbeDialogs/qbeFilterDialog/QBEFilterDialog.vue
  knowage-vue/src/modules/qbe/qbeDialogs/qbeHavingDialog/QBEHavingCard.vue
Labels: javascript, Porting Vue.js, Bugfix

#430 Metaweb bugfix
  knowage-vue/src/modules/managers/businessModelCatalogue/metaweb/metawebSelectDialog/MetawebSelectDialog.vue
Labels: javascript, Porting Vue.js, Bugfix

#432 Behavioural Model Lineage v1.0
  knowage-vue/src/i18n/en_US/messages.json
  knowage-vue/src/modules/managers/behaviouralModelLineage/BehaviouralModelLineage.d.ts
  knowage-vue/src/modules/managers/behaviouralModelLineage/BehaviouralModelLineage.routes.js
  knowage-vue/src/modules/managers/behaviouralModelLineage/BehaviouralModelLineage.vue
  knowage-vue/src/modules/managers/behaviouralModelLineage/BehaviouralModelLineageDescriptor.json
  knowage-vue/src/modules/managers/behaviouralModelLineage/BehaviouralModelLineageTable.vue
  knowage-vue/src/modules/managers/managers.routes.js
Labels: javascript, Porting Vue.js

#435 Sprint 12 bugfix
  knowage-vue/src/modules/qbe/qbeDialogs/qbeFilterDialog/QBEFilterDialog.vue
Labels: javascript, Porting Vue.js, Bugfix

#436 QBE - KNOWAGE-6764
  knowage-vue/src/modules/qbe/qbeTables/qbeSmartTable/QBESmartTable.vue
Labels: javascript, Porting Vue.js, Bugfix

#438 Document Details - Bugfixing
  knowage-vue/src/modules/documentExecution/documentDetails/DocumentDetails.vue
  knowage-vue/src/modules/documentExecution/documentDetails/tabs/history/DocumentDetailsHistory.vue
  knowage-vue/src/modules/documentExecution/documentDetails/tabs/informations/DocumentDetailsInformations.vue
  knowage-vue/src/modules/documentExecution/documentDetails/tabs/informations/DocumentDetailsTree.vue
Labels: javascript, Porting Vue.js, Bugfix

#440 Sprint 12 bugfix
  knowage-vue/src/components/UI/KnParameterSidebar/KnParameterSidebar.vue
Labels: javascript, Porting Vue.js, Bugfix

#442 Users Management - Bugfix Hunt
  knowage-vue/src/modules/managers/usersManagement/UsersManagement.vue
Labels: javascript, Porting Vue.js, Bug

#443 Sprint 12 bugfix
  knowage-vue/src/components/UI/KnParameterSidebar/KnParameterSidebar.vue
Labels: javascript, Porting Vue.js, Bugfix

#444 Sprint 12 bugfix
  knowage-vue/src/components/UI/KnParameterSidebar/KnParameterSidebar.vue
  knowage-vue/src/modules/documentExecution/main/DocumentExecution.vue
Labels: javascript, Porting Vue.js, Bugfix

#446 Sprint 12 bugfix
  knowage-vue/src/components/UI/KnParameterSidebar/KnParameterSidebar.vue
Labels: javascript, Porting Vue.js, Bugfix

#449 Potential Fix - KNOWAGE-6745
  knowage-vue/src/modules/managers/usersManagement/UsersManagement.vue
Labels: javascript, Porting Vue.js, Bugfix

#451 Sprint 12 bugfix
  knowage-vue/src/components/UI/KnParameterSidebar/KnParameterSidebar.vue
Labels: javascript, Porting Vue.js, Bugfix

#450 Dataset Management - Bugfixes
  knowage-vue/src/components/UI/KnParameterSidebar/KnParameterSidebar.vue
  knowage-vue/src/i18n/en_US/messages.json
  knowage-vue/src/modules/managers/datasetManagement/detailView/advancedCard/DatasetManagementAdvancedCard.vue
  knowage-vue/src/modules/managers/datasetManagement/detailView/metadataCard/DatasetManagementMetadataCard.vue
  knowage-vue/src/modules/workspace/views/dataView/dialogs/WorkspaceDataPreviewDialog.vue
Labels: javascript, Porting Vue.js, Bugfix

#452 Dataset Management - KNOWAGE-6797
  knowage-vue/src/modules/workspace/views/dataView/dialogs/WorkspaceDataPreviewDialog.vue
Labels: javascript, Porting Vue.js, Bugfix

#454 Dataset Management - KNOWAGE-6602
  knowage-vue/src/modules/managers/datasetManagement/detailView/DatasetManagementDetailView.vue
Labels: javascript, Porting Vue.js, Bugfix

#456 KNOWAGE-6813 - Bugfix
  knowage-vue/src/i18n/en_US/messages.json
  knowage-vue/src/modules/managers/rolesManagement/RolesManagement.vue
  knowage-vue/src/modules/managers/rolesManagement/RolesManagementTabView.vue
  knowage-vue/src/modules/managers/rolesManagement/tabs/DomainCategoryTab/DomainCategoryTab.vue
  knowage-vue/src/modules/managers/rolesManagement/tabs/RoleAuthorizationsTab/RoleAuthorizationsTab.vue
  knowage-vue/src/modules/managers/rolesManagement/tabs/RoleDetailTab/RoleDetailTab.vue
Labels: javascript, Porting Vue.js, Bugfix

#457 Users management hunt bugfix
  knowage-vue/src/modules/managers/usersManagement/UsersManagement.vue
Labels: javascript, Porting Vue.js, Bugfix

#458 KNOWAGE-6805 - Filter CR
  knowage-vue/src/modules/workspace/WorkspaceDescriptor.json
  knowage-vue/src/modules/workspace/views/dataView/WorkspaceDataView.vue
  knowage-vue/src/modules/workspace/views/modelsView/WorkspaceModelsView.vue
Labels: javascript, Porting Vue.js, Bugfix

#459 Cockpit workspace integration
  knowage-vue/package-lock.json
  knowage-vue/src/modules/workspace/views/analysisView/WorkspaceAnalysisView.vue
  knowage-vue/src/modules/workspace/views/analysisView/dialogs/WorkspaceCockpitDialog.vue
  knowage-vue/src/modules/workspace/views/analysisView/dialogs/WorkspaceCockpitDialogDescriptor.json
Labels: javascript, Porting Vue.js, Bugfix
