Repository KnowageLabs/Knowage-Server, pull requests merged in 2022-06, with the labels that each got.

#564 QBE Bugfixes & CR
  knowage-vue/src/helpers/commons/buildQbeCalculatedField.ts
  knowage-vue/src/helpers/commons/qbeHelpers.ts
  knowage-vue/src/modules/managers/businessModelCatalogue/metaweb/businessModel/tabs/calculatedField/MetawebCalcFieldDescriptor.json
  knowage-vue/src/modules/managers/businessModelCatalogue/metaweb/businessModel/tabs/calculatedField/MetawebCalculatedField.vue
  knowage-vue/src/modules/managers/businessModelCatalogue/metaweb/businessModel/tabs/calculatedField/MetawebCalculatedFieldDescriptor.json
  knowage-vue/src/modules/qbe/QBE.vue
  knowage-vue/src/modules/qbe/QBECalcFieldDescriptor.json
  knowage-vue/src/modules/qbe/qbeDialogs/qbeSavingDialog/QBESavingDialog.vue
  knowage-vue/src/modules/qbe/qbeDialogs/qbeSavingDialog/QbeSavingDialogMetadata.vue
  knowage-vue/src/modules/qbe/qbeTables/qbeSimpleTable/QBESimpleTable.vue
  knowage-vue/src/modules/qbe/qbeTables/qbeSmartTable/QBESmartTable.vue
Labels: javascript, Porting Vue.js, Bugfix

#566 Bugfix KNOWAGE-7150
  knowage-vue/src/components/UI/KnParameterSidebar/KnParameterSidebar.d.ts
  knowage-vue/src/components/UI/KnParameterSidebar/KnParameterSidebar.vue
Labels: javascript, Porting Vue.js, Bugfix

#567 Bugfixing Workspace, QBE & Users
  knowage-vue/src/modules/documentExecution/documentDetails/DocumentDetails.vue
  knowage-vue/src/modules/managers/usersManagement/UsersManagement.vue
  knowage-vue/src/modules/qbe/qbeDialogs/qbeSavingDialog/QBESavingDialog.vue
  knowage-vue/src/modules/workspace/Workspace.vue
  knowage-vue/src/modules/workspace/views/dataView/WorkspaceDataView.vue
  knowage-vue/src/modules/workspace/views/modelsView/WorkspaceModelsView.vue
Labels: javascript, Porting Vue.js, Bugfix

#573 Possible bugfix 7158-7160
  knowage-vue/src/modules/documentExecution/main/DocumentExecution.vue
Labels: javascript, Porting Vue.js, Bugfix

#575 KNOWAGE-7162
  knowage-vue/src/modules/documentBrowser/DocumentBrowser.vue
  knowage-vue/src/modules/documentBrowser/DocumentBrowserCockpitContainer.vue
  knowage-vue/src/modules/documentExecution/documentDetails/DocumentDetails.vue
  knowage-vue/src/modules/qbe/QBE.vue
  knowage-vue/src/modules/qbe/qbeDialogs/qbeSavingDialog/QBESavingDialog.vue
Labels: javascript, Porting Vue.js, Bugfix

#577 Sprint 14-2 bugfix
  knowage-vue/src/modules/documentBrowser/DocumentBrowser.vue
  knowage-vue/src/modules/documentBrowser/documentBrowserHome/DocumentBrowserHome.vue
  knowage-vue/src/modules/documentExecution/documentDetails/DocumentDetails.vue
  knowage-vue/src/modules/managers/businessModelCatalogue/cards/businessModelDriversCard/BusinessModelDriverDetail.vue
Labels: javascript, Porting Vue.js, Bugfix

#571 spanish translation and all languages only helper-messages.json
  knowage-vue/src/i18n/ar_EG/helper-messages.json
  knowage-vue/src/i18n/bg_BG/helper-messages.json
  knowage-vue/src/i18n/de_DE/helper-messages.json
  knowage-vue/src/i18n/es_ES/helper-messages.json
  knowage-vue/src/i18n/es_ES/messages.json
  knowage-vue/src/i18n/fr_FR/helper-messages.json
  knowage-vue/src/i18n/hu_HU/helper-messages.json
  knowage-vue/src/i18n/it_IT/helper-messages.json
  knowage-vue/src/i18n/ja_JP/helper-messages.json
  knowage-vue/src/i18n/ko_KR/helper-messages.json
  knowage-vue/src/i18n/pt_BR/helper-messages.json
  knowage-vue/src/i18n/ru_RU/helper-messages.json
  knowage-vue/src/i18n/tr_TR/helper-messages.json
  knowage-vue/src/i18n/zh_Hans_CN/helper-messages.json
Labels: Translations

#580 Possible bugfix KNOWAGE-7037
  knowage-vue/src/modules/documentExecution/main/DocumentExecution.vue
Labels: javascript, Porting Vue.js, Bugfix

#582 Bugfix KNOWAGE-7174
  knowage-vue/src/modules/managers/lovsManagement/cards/LovsManagementWizardCard/LovsManagementDataset/LovsManagementDataset.vue
Labels: javascript, Porting Vue.js, Bugfix

#581 KNOWAGE-7175 & KNOWAGE-7171
  knowage-vue/src/modules/documentExecution/documentDetails/DocumentDetails.vue
  knowage-vue/src/modules/managers/datasetManagement/detailView/metadataCard/DatasetManagementMetadataCardDescriptor.json
  knowage-vue/src/modules/managers/menuManagement/ElementDetailsCard/MenuManagementElementsDetail.vue
Labels: javascript, Porting Vue.js, Bugfix

#584 Bugfix KNOWAGE-6995
  knowage-vue/src/components/UI/KnParameterSidebar/KnParameterSidebar.vue
  knowage-vue/src/components/UI/KnParameterSidebar/dialogs/KnParameterTreeDialog.vue
Labels: javascript, Porting Vue.js, Bugfix

#585 KNOWAGE-6719, static page fix, sending label instead id
  knowage-vue/src/modules/documentExecution/olap/Olap.vue
  knowage-vue/src/modules/managers/menuManagement/ElementDetailsCard/MenuManagementElementsDetail.vue
Labels: javascript, Porting Vue.js, Bugfix

#587 Sprint 15 bugfix
  knowage-vue/src/modules/documentBrowser/documentBrowserHome/DocumentBrowserHome.vue
  knowage-vue/src/modules/documentExecution/documentDetails/DocumentDetails.vue
  knowage-vue/src/modules/documentExecution/olap/filterDialog/OlapFilterTree.vue
Labels: javascript, Porting Vue.js, Bugfix

#589 KNOWAGE-6719 - Fix
  knowage-vue/src/modules/managers/menuManagement/MenuManagement.vue
Labels: javascript, Porting Vue.js, Bugfix

#590 translation of all remains files to all languages and 2 new ones
  knowage-vue/src/i18n/ar_EG/messages.json
  knowage-vue/src/i18n/bg_BG/messages.json
  knowage-vue/src/i18n/da_DK/helper-messages.json
  knowage-vue/src/i18n/da_DK/messages.json
  knowage-vue/src/i18n/de_DE/messages.json
  knowage-vue/src/i18n/fr_FR/messages.json
  knowage-vue/src/i18n/he_IL/helper-messages.json
  knowage-vue/src/i18n/he_IL/messages.json
  knowage-vue/src/i18n/hu_HU/messages.json
  knowage-vue/src/i18n/ja_JP/messages.json
  knowage-vue/src/i18n/ko_KR/messages.json
  knowage-vue/src/i18n/pt_BR/messages.json
  knowage-vue/src/i18n/ru_RU/messages.json
  knowage-vue/src/i18n/tr_TR/messages.json
  knowage-vue/src/i18n/zh_Hans_CN/helper-messages.json
  knowage-vue/src/i18n/zh_Hans_CN/messages.json
Labels: Translations

#534 Scorecards dev
  knowage-vue/src/components/UI/KnPerspectiveCard/KnPerspectiveCard.vue
  knowage-vue/src/i18n/en_US/messages.json
  knowage-vue/src/modules/managers/managers.routes.js
  knowage-vue/src/modules/managers/scorecards/Scorecards.d.ts
  knowage-vue/src/modules/managers/scorecards/Scorecards.routes.js
  knowage-vue/src/modules/managers/scorecards/Scorecards.spec.js
  knowage-vue/src/modules/managers/scorecards/Scorecards.vue
  knowage-vue/src/modules/managers/scorecards/ScorecardsDescriptor.json
  knowage-vue/src/modules/managers/scorecards/ScorecardsDesigner.spec.js
  knowage-vue/src/modules/managers/scorecards/ScorecardsDesigner.vue
  knowage-vue/src/modules/managers/scorecards/ScorecardsHelpers.ts
  knowage-vue/src/modules/managers/scorecards/ScorecardsKpiDialog/ScorecardsKpiDialog.vue
  knowage-vue/src/modules/managers/scorecards/ScorecardsKpiDialog/ScorecardsKpiDialogDescriptor.json
  knowage-vue/src/modules/managers/scorecards/ScorecardsTable/ScorecardsPerspectiveItem.spec.js
  knowage-vue/src/modules/managers/scorecards/ScorecardsTable/ScorecardsPerspectiveItem.vue
  knowage-vue/src/modules/managers/scorecards/ScorecardsTable/ScorecardsTable.spec.js
  knowage-vue/src/modules/managers/scorecards/ScorecardsTable/ScorecardsTable.vue
  knowage-vue/src/modules/managers/scorecards/ScorecardsTable/ScorecardsTableDescriptor.json
  knowage-vue/src/modules/managers/scorecards/ScorecardsTable/ScorecardsTableHint.vue
  knowage-vue/src/modules/managers/scorecards/ScorecardsTable/ScorecardsTargetItem.spec.js
  knowage-vue/src/modules/managers/scorecards/ScorecardsTable/ScorecardsTargetItem.vue
Labels: javascript, Porting Vue.js

#596 Part of the bugfix KNOWAGE-7217
  knowage-vue/src/helpers/commons/fileHelper.ts
  knowage-vue/src/modules/documentBrowser/DocumentBrowser.vue
  knowage-vue/src/modules/documentExecution/main/DocumentExecution.d.ts
  knowage-vue/src/modules/documentExecution/main/DocumentExecution.vue
  knowage-vue/src/modules/documentExecution/main/dialogs/documentExecutionMetadataDialog/DocumentExecutionMetadataDialog.vue
Labels: javascript, Porting Vue.js, Bugfix

#599 Bugfix KNOWAGE-7229, KNOWAGE-7230
  knowage-vue/src/modules/documentExecution/main/dialogs/documentExecutionMetadataDialog/DocumentExecutionMetadataDialog.vue
  knowage-vue/src/modules/managers/scorecards/Scorecards.d.ts
  knowage-vue/src/modules/managers/scorecards/ScorecardsDesigner.vue
  knowage-vue/src/modules/managers/scorecards/ScorecardsTable/ScorecardsPerspectiveItem.vue
  knowage-vue/src/modules/managers/scorecards/ScorecardsTable/ScorecardsTable.vue
Labels: javascript, Porting Vue.js, Bugfix

#600 Unit test fixes
  knowage-vue/src/modules/kpi/kpiDocumentDesigner/KpiDocumentDesigner.spec.js
  knowage-vue/src/modules/kpi/kpiDocumentDesigner/KpiDocumentDesigner.vue
  knowage-vue/src/modules/managers/newsManagement/NewsManagementDetail.spec.js
  knowage-vue/src/modules/managers/scorecards/ScorecardsTable/ScorecardsTable.spec.js
Labels: javascript, Porting Vue.js, Bugfix
