Repository KnowageLabs/Knowage-Server, pull requests merged in 2023-04, with the labels that each got.

#817 Bugfix KNOWAGE-7811
  knowage-vue/src/modules/documentExecution/main/DocumentExecution.vue
Labels: javascript, Porting Vue.js, Bugfix, Knowage_8.1

#816 Bugfix KNOWAGE-7811
  knowage-vue/src/modules/documentExecution/main/DocumentExecution.vue
  knowage-vue/src/modules/documentExecution/main/DocumentExecutionAngularCrossNavigationHelper.ts
Labels: javascript, Porting Vue.js, Bugfix

#818 BUGFIXES
  knowage-vue/src/modules/documentExecution/dashboard/DataProxyHelper.ts
  knowage-vue/src/modules/documentExecution/dashboard/widget/ChartWidget/Highcharts/HighchartsContainer.vue
  knowage-vue/src/modules/documentExecution/dashboard/widget/DiscoveryWidget/DiscoveryWidget.vue
  knowage-vue/src/modules/documentExecution/dashboard/widget/TableWidget/CellRenderer.vue
  knowage-vue/src/modules/documentExecution/dashboard/widget/TableWidget/TableWidget.vue
Labels: javascript, Porting Vue.js, Bugfix

#824 Bugfix KNOWAGE-7744
  knowage-vue/src/components/UI/KnParameterSidebar/KnParameterSidebarDataDependency.ts
Labels: javascript, Porting Vue.js, Bugfix, Knowage_8.1

#829 Dashboard sprint 9 bugfix
  knowage-vue/src/modules/documentExecution/main/DocumentExecution.vue
Labels: javascript, Porting Vue.js, Bugfix

#832 REST DATASET
  knowage-vue/src/modules/managers/datasetManagement/DatasetManagement.vue
  knowage-vue/src/modules/managers/datasetManagement/detailView/DatasetManagementDetailView.vue
Labels: javascript, Porting Vue.js, Bugfix, Knowage_8.1

#833 Dashboard sprint 9 bugfix
  knowage-vue/src/modules/documentExecution/dashboard/widget/WidgetEditor/WidgetEditorDataTab/WidgetEditorDataList/WidgetEditorDataList.vue
  knowage-vue/src/modules/documentExecution/dashboard/widget/WidgetEditor/WidgetEditorDataTab/common/WidgetEditorColumnTable.vue
  knowage-vue/src/modules/managers/glossaryDefinition/GlossaryDefinitionDetail.vue
Labels: javascript, Porting Vue.js, Bugfix

#834 Dashboard sprint 9 bugfix 8.1
  knowage-vue/src/modules/managers/glossaryDefinition/GlossaryDefinitionDetail.vue
Labels: javascript, Porting Vue.js, Bugfix, Knowage_8.1

#836 KNOWAGE-7858
  knowage-vue/src/modules/documentExecution/registry/tables/RegistryDatatable.vue
Labels: javascript, Porting Vue.js, Bugfix

#838 Bugfix KNOWAGE-7869
  knowage-vue/src/modules/documentExecution/main/DocumentExecution.vue
  knowage-vue/src/modules/documentExecution/main/dialogs/documentExecutionCNContainerDialog/DocumentExecutionCNContainerDialog.vue
Labels: javascript, Porting Vue.js, Bugfix, Knowage_8.1

#839 Bugfix KNOWAGE-7869
  knowage-vue/src/modules/documentExecution/main/DocumentExecution.vue
  knowage-vue/src/modules/documentExecution/main/DocumentExecutionAngularCrossNavigationHelper.ts
  knowage-vue/src/modules/documentExecution/main/dialogs/documentExecutionCNContainerDialog/DocumentExecutionCNContainerDialog.vue
Labels: javascript, Porting Vue.js, Bugfix

#843 Dashboard sprint 10 bugfix
  knowage-vue/package-lock.json
  knowage-vue/src/modules/documentExecution/main/DocumentExecutionAngularCrossNavigationHelper.ts
  knowage-vue/src/modules/documentExecution/main/DocumentExecutionDirverHelpers.ts
  knowage-vue/src/modules/documentExecution/main/DocumentExecutionHelpers.ts
  knowage-vue/src/modules/documentExecution/registry/Registry.vue
  knowage-vue/src/modules/documentExecution/registry/tables/RegistryDatatable.vue
  knowage-vue/src/modules/managers/datasetManagement/detailView/typeCard/restDataset/DatasetManagementRestDataset.vue
Labels: javascript, Porting Vue.js, Bugfix

#844 Categories Management
  knowage-vue/src/i18n/en_US/messages.json
  knowage-vue/src/modules/managers/categoriesManagement/CategoriesManagement.d.ts
  knowage-vue/src/modules/managers/categoriesManagement/CategoriesManagement.routes.js
  knowage-vue/src/modules/managers/categoriesManagement/CategoriesManagement.vue
  knowage-vue/src/modules/managers/categoriesManagement/CategoriesManagementDescriptor.json
  knowage-vue/src/modules/managers/categoriesManagement/CategoriesManagementDialog.vue
  knowage-vue/src/modules/managers/categoriesManagement/CategoriesManagementValidationDescriptor.json
  knowage-vue/src/modules/managers/configurationManagement/ConfigurationManagement.vue
  knowage-vue/src/modules/managers/managers.routes.js
Labels: javascript, Porting Vue.js, Knowage_8.1
