Repository KnowageLabs/Knowage-Server, pull requests merged in 2023-02, with the labels that each got.

#767 Possible bugifx KNOWAGE-7671
  knowage-vue/src/components/UI/KnParameterSidebar/KnParameterSidebar.vue
Labels: javascript, Porting Vue.js, Bugfix

#771 Bugfix KNOWAGE-7678
  knowage-vue/src/modules/documentExecution/main/DocumentExecution.vue
Labels: javascript, Porting Vue.js, Bugfix

#772 Bugfix KNOWAGE-7287
  knowage-vue/src/modules/managers/functionsCatalog/FunctionsCatalogDetail.vue
Labels: javascript, Porting Vue.js, Bugfix, Knowage_8.1

#773 Part of bugfix KNOWAGE-7648
  knowage-vue/src/modules/documentExecution/main/DocumentExecutionCrossNavigationHelper.ts
Labels: javascript, Porting Vue.js, Bugfix, Knowage_8.1

#774 Dashboard sprint 6 bugfix
  knowage-vue/src/modules/documentExecution/main/DocumentExecutionAngularCrossNavigationHelper.ts
Labels: javascript, Porting Vue.js, Bugfix

#779 Possible bugfix KNOWAGE-7687
  knowage-vue/src/i18n/en_US/messages.json
  knowage-vue/src/modules/managers/lovsManagement/LovsManagementDetail.vue
  knowage-vue/src/modules/managers/lovsManagement/cards/LovsManagementWizardCard/LovsManagementFixedLovsTable/LovsManagementFixedLovsTable.vue
Labels: javascript, Porting Vue.js, Bugfix, Knowage_8.1

#780 Possible bugfix KNOWAGE-7687
  knowage-vue/src/i18n/en_US/messages.json
  knowage-vue/src/modules/managers/lovsManagement/LovsManagementDetail.vue
  knowage-vue/src/modules/managers/lovsManagement/cards/LovsManagementWizardCard/LovsManagementFixedLovsTable/LovsManagementFixedLovsTable.vue
Labels: javascript, Porting Vue.js, Bugfix

#783 Bugfix KNOWAGE-7689
  knowage-vue/src/modules/documentExecution/main/DocumentExecutionCrossNavigationHelper.ts
Labels: javascript, Porting Vue.js, Bugfix, Knowage_8.1

#784 Bugfix KNOWAGE-7689
  knowage-vue/package-lock.json
  knowage-vue/src/modules/documentExecution/dashboard/DashboardRenderer.vue
  knowage-vue/src/modules/documentExecution/dashboard/widget/WidgetButtonBar.vue
  knowage-vue/src/modules/documentExecution/dashboard/widget/WidgetController.vue
  knowage-vue/src/modules/documentExecution/dashboard/widget/WidgetEditor/WidgetEditorSettingsTab/ImageWidget/gallery/ImageWidgetGallery.vue
  knowage-vue/src/modules/documentExecution/dashboard/widget/WidgetEditor/WidgetEditorSettingsTab/ImageWidget/gallery/ImageWidgetGalleryCard.vue
  knowage-vue/src/modules/documentExecution/dashboard/widget/WidgetEditor/WidgetEditorSettingsTab/ImageWidget/gallery/ImageWidgetGallerySidebar.vue
  knowage-vue/src/modules/documentExecution/main/DocumentExecutionAngularCrossNavigationHelper.ts
Labels: javascript, Porting Vue.js, Bugfix

#786 Registry Updates
  knowage-vue/src/modules/documentExecution/registry/Registry.vue
  knowage-vue/src/modules/documentExecution/registry/tables/RegistryDatatable.vue
  knowage-vue/src/modules/documentExecution/registry/tables/registryCellRenderers/RegistryHeaderRenderer.vue
Labels: javascript, Porting Vue.js

#789 Registry NaN Bugfix
  knowage-vue/src/modules/documentExecution/registry/tables/RegistryDatatable.vue
Labels: javascript, Porting Vue.js
